1. Header
%header#topHead
  %section
    = link_to image_tag("/assets/logo/square/IWP.png"), root_path
%li
  %a{:href => "#"} Админ
%li
  %a{:href => "#"} Мои новости
%li
  %a{:href => "#"} Общение
%li.active
  %a{:href => "#"} Вход
%li= link_to raw("<i class='icon-wrench'></i> <span>Мои новости</span>"), news_path
%li
  %a{:href => "#"} Обо мне
%li
  %a{:href => "#"} Регистрация
%li
  %a{:href => "#"} Мои настройки
%li
  %a{:href => "#"} Выход
%img.img-circle{:alt => "", :src => "/assets/logo/square/IWP.png"}/
.navbar-header
  %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
#bs-example-navbar-collapse-1.collapse.navbar-collapse
/ /.navbar-collapse
2.Start view
%div
  = render :partial => 'shared/parts/opinionList', :locals => {:opinion => opinion}
/ <li <haml:loud> render :partial =&amp;gt; &amp;#39;start/enter_start_tree&amp;#39; </haml:loud></li>
%h4 2.Имя Отца
= label_tag 'Введи имя Отца:'
%div
  = select_tag 'father_name_select', options_for_select(@sel_names_male, selected = @father_name),  :prompt => 'Выбери имя'
%h4 3.Имя Матери
= label_tag 'Введи имя Матери:'
%div
  = select_tag 'mother_name_select', options_for_select(@sel_names_female, selected = @mother_name),  :prompt => 'Выбери имя'
\!--
%p>
  @user_sex_found: #{@user_sex_found.inspect}
\-->
%p
  Имя Отца: @father_name: #{@father_name.inspect}
%p
  @father_name_correct: #{@father_name_correct.inspect}
%p
  Имя Матери: @mother_name: #{@mother_name.inspect}
%p
  @mother_name_correct: #{@mother_name_correct.inspect}
/ <li <haml:loud> render :partial =&amp;gt; &amp;#39;start/first_question&amp;#39; </haml:loud></li>
/ <li <haml:loud> render :partial =&amp;gt; &amp;#39;start/display_start_tree&amp;#39; </haml:loud></li>
/ <haml:silent> if ajax  </haml:silent><haml:block>
/ <haml:silent> remote_form_for @search, :url =&amp;gt; {:action =&amp;gt; :search_set, :controller =&amp;gt; :searches, :stype =&amp;gt; stype}  </haml:silent>
/ </haml:block><haml:silent> else </haml:silent><haml:block>
%div
  %h4 4.Имя Брата
  = label_tag 'Введи имя Брата:'
  = select_tag 'brother_name_select', options_for_select(@sel_names_male, selected = @brother_name),  :prompt => 'Выбери имя'
/ </haml:block>
2.PAGES CONTROLLER - START DIALOGE -версия когда ввод через универс-е методы

\# Поэтапный диалог - ввод стартового древа - ближний круг
\# Перебор по массиву вопросов-предложений по вводу имен: автора древа, Отца, Матери.
\# @note @start_one_quest_arr[0] = profile_logo, [1] = question, [2] = select_names_arr, [3] = id_relation
\# @param admin_page [Integer] опциональный номер страницы
\# @see Place
def start_quest

@start_quest_arr = []

@start_tree_arr = []
@start_tree_profile_arr = []


@start_quest_arr = [["1.Твое имя","Введи свое имя:",@sel_names,nil],
["2.Имя Отца","Введи имя отца:",@sel_names_male,1],
["3.Имя Матери","Введи имя матери:",@sel_names_female,2]]

for arr_i in 0 .. @start_quest_arr.length-1 # 3 asc

@one_quest_arr = @start_quest_arr[arr_i]  # DEBUGG
@arr_i = arr_i # DEBUGG

asc_one_quest(@start_quest_arr[arr_i], arr_i ) if !@start_quest_arr[arr_i].blank?


end

end


\# Спрашивает один вопрос в Поэтапном диалоге
\# @note
\# @param admin_page [Integer] опциональный номер страницы
\# @see Place
def asc_one_quest(one_quest_arr, arr_i)

@profile_logo = one_quest_arr[0]
@profile_question = one_quest_arr[1]
@select_names_arr = one_quest_arr[2]
@profile_relation = one_quest_arr[3]

@profile_name = params[:name_select] # КАК ВЗЯТЬ id ВЫБРАННОГО ИМЕНИ ПО ИНДЕКСУ МАССИВА ??

if !@profile_name.blank?
\# извлечение пола из введенного имени
@profile_sex = check_sex_by_name(@profile_name) #

@start_tree_profile_arr = make_one_profile_arr(arr_i, @profile_relation, @profile_name, @profile_sex)

@start_tree_arr << @start_tree_profile_arr  #
@start_tree_profile_arr = []

end

end




\# Сохраняет один профиль после ответа на один вопрос в Поэтапном диалоге
\# @note new_profile_arr[0] = id_relation, [1] = id_name, [2] = id_sex,
\# @param admin_page [Integer] опциональный номер страницы
\# @see Place
def make_one_profile_arr(arr_i, relation, name, sex)     # Формирование записи одного введенного профиля
@navi_test = "PAGES контроллер/make_one_profile_arr метод"
new_profile_arr = []
new_profile_arr[0] = arr_i        #
new_profile_arr[1] = relation       #
new_profile_arr[2] = name    #
new_profile_arr[3] = sex          #

@new_profile_arr = new_profile_arr # DEBUGG


end



3.
