%table.tmp_table#circle-table
  %tr
    %th Родственное отношение
    %th Имя родственника
    %th
  %tr
    %td Автор
    %td= @author.to_name
    %td
  - circle.each_with_index do |item, index|
    %tr
      %td= relation_to_human(item.relation_id)
      %td
        = link_to item.name.to_name, profile_path(item.is_profile_id)
        .small= item.is_profile_id  # DEBUGG TO VIEW
        - if item.profile.circle(current_user.id).size > 0 and item.relation_id != 0
          = link_to fa_icon('code-fork'), circle_path(item.is_profile_id), style: "margin-left:11px;color:green;", remote: true
      %td
        .dropdown
          %a{href:'#', onclick:"toggleDropDownMenu(this);return false;"}
            = fa_icon 'caret-square-o-down'
          %ul.closed
            %li= link_to "Добавить родственника", new_profile_path(base_relation_id: item.relation_id, base_profile_id: item.is_profile_id)
            %li= link_to "Изменить", edit_profile_path(item.is_profile_id)
            %li= link_to "Общаться", '#', class: :grey
            %li= link_to "В избранные", '#', class: :grey


:javascript
  closeAllDropDown();
