%ul.path-list
  %li.author= link_to "#{current_user.profile.to_name} (это вы)", main_page_path
  - @path.try(:each) do |segment|
    %li
      %span
        = fa_icon('arrow-right')
        = relation_to_human(segment.relation_id, prefix: true)
      = link_to segment.name, "/main/circles/#{segment.link}", remote: true
