


%p
  Search:
%p
  @author_id: #{@author_id.inspect}
%p
  Состав дерева автора: @connected_author_arr: #{@connected_author_arr.inspect}
%p
  Массив дерева автора: @author_connected_tree_arr: #{@author_connected_tree_arr.inspect}
%p
  @len_author_connected_tree: #{@len_author_tree.inspect}
%p
  В дереве родственников: @qty_of_tree_profiles: #{@qty_of_tree_profiles.inspect}


%h4
  КОЭФФИЦИЕНТ ДОСТОВЕРНОСТИ: @certain_koeff: #{@certain_koeff.inspect}
%h4
  СОСТАВ КРУГОВ ПРОФИЛЕЙ ИСКОМОГО ДЕРЕВА (массив ХЭШей ПАР ПРОФИЛЕЙ-ОТНОШЕНИЙ):
  %h4    {профиль искомый -> профиль -> его отношение к искомому} )
  %h4    @profiles_relations_arr: #{@profiles_relations_arr.inspect}
%h4
  ОСНОВНОЙ РЕЗ-ТАТ ПОИСКА - НАЙДЕННЫЕ ПРОФИЛИ С СОВПАВШИМИ ОТНОШЕНИЯМИ (массив):
  %h4     {профиль искомый -> дерево -> профиль найденный -> [ массив совпавших отношений с искомым профилем ]
  %h4     @profiles_found_arr: #{@profiles_found_arr.inspect}
%h4
  ПРОФИЛИ, ОТСОРТИРОВАННЫЕ ПО КОЛ-ВУ СОВПАДЕНИЙ:
  %h4     {профиль искомый -> кол-во совпадений}
  %h4     @profiles_with_match_hash: #{@profiles_with_match_hash.inspect}
%h4
  ИТОГОВЫЕ ДОСТОВЕРНЫЕ ПАРЫ ПРОФИЛЕЙ - БЕЗ ДУБЛИКАТОВ:
  %h4  {профиль искомый -> { дерево -> профиль найденный} }
  %h4  @uniq_profiles_pairs: #{@uniq_profiles_pairs.inspect}


%h4
  ТЕСТ НАЙДЕННЫХ ПРОФИЛЕЙ - РАСПРЕДЕЛЕНИЕ ПО МОЩНОСТИ СОВПАДЕНИЙ:
  %h4   @high_power_results_hash: #{@high_power_results_hash.inspect}
  %h4   @low_power_results_hash: #{@low_power_results_hash.inspect}

%h4
  ИТОГОВЫЕ РЕЗУЛЬТАТЫ ПОИСКА ДЛЯ ОТОБРАЖЕНИЯ НА ГЛАВНОЙ
  %h4  ###### @by_profiles: #{@by_profiles.inspect}
  %h4  ###### @by_trees   : #{@by_trees.inspect}
%h4
  ИТОГОВЫЕ ДУБЛИКАТЫ ПРОФИЛЕЙ One_to_Many : {профиль искомый -> { дерево -> { профиль найденный, ... профиль найденный }} }
  %h4  @duplicates_One_to_Many: #{@duplicates_One_to_Many.inspect}
%h4
  ИТОГОВЫЕ ДУБЛИКАТЫ ПРОФИЛЕЙ Many_to_One : {профиль искомый -> { дерево -> профиль найденный},...  }
  %h4  @duplicates_Many_to_One: #{@duplicates_Many_to_One.inspect}


%p
  Длительность поиска: @elapsed_search_time: #{@elapsed_search_time.inspect}


%h4
  Массивы перезаписи, найденные в Connect_Users
%p
  @with_whom_connect_users_arr: #{@with_whom_connect_users_arr.inspect}
%p
  @profiles_to_rewrite: #{@profiles_to_rewrite.inspect}
%p
  @profiles_to_destroy: #{@profiles_to_destroy.inspect}
