<% if !@tree_array.blank? %>


    <div>
      <p>@session_id: <%= @session_id.inspect %></p>
      <p>@navigation_var: <%= @navigation_var.inspect %></p>
      <!--<p>@menu_choice: <%= @menu_choice.inspect %></p>-->
    </div>

    <h3> Страница MAIN - для основной работы: просмотр и наращивание древа. </h3>
    <h3> Вызов меню родственника: добавление нового смежного родственника, общение, избранные, редактирование профиля. </h3>
    <h3> Здесь же: получение инфы о возможных совпадениях профилей в других древах. </h3>
    <h3> Переход к просмотру совпадений и дальнейшим рукопожатиям (подтверждениям). </h3>


    <h3>Отображение Древа Пользователя в табличной форме</h3>

    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Родство</th>
        <th>Имя</th>
        <th>Пол</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @tree_array.each do |tree| %>
          <tr>
            <td><%= tree[0] %></td>
            <td><%= tree[1] %></td>
            <td><%= tree[2] %></td>
            <td><%= tree[3] %></td>
            <td> Вызов меню Родственника: <%= link_to "Relative Menu", main_relative_menu_path %> </td>
          </tr>
      <% end %>
      </tbody>
    </table>

<% else %>
    <h1>No Listing tree!</h1>
    <li>  <%= link_to "Names", names_path %> </li>


    <h3 class="titleous">Результаты поиска: <span><%= @results_count %></span> <i class='icon-lightbulb'></i></h3>


<% end %>