
- if !@profiles_tree_arr.blank?
  %div
    %table
      %tr
        %th ID в Дереве
        %th ID Профиля
        %th ID Имени Профиля
        %th Имя Профиля
        %th Пол Профиля
        %th ID Родства: У Профиля
        %th ID Родственника
        %th ID Имени Родственника
        %th Имя Родственника
        %th
      - @profiles_tree_arr.each do |tree|
        %tr
          %td= tree[0]
          %td= tree[1]
          %td= tree[2]
          %td= tree[3]
          %td= tree[4]
          %td= tree[5]
          %td= tree[6]
          %td= tree[7]
          %td= tree[8]
          %td Вызов меню Родственника: #{link_to "Relative Menu", relative_menu_path}
- else
  %h4 No Listing tree - @tree_arr!



