.dropdown
  %a{href:'#', onclick:"toggleDropDownMenu(this);return false;"}
    = link_text
  %ul.closed
    %li= link_to "Добавить родственника", '#show-relation-list', onclick: "$('.relation_list').slideToggle('fast')"
    .relation_list{style: 'display:none;'}
      - Relation.relation_for_auhtor.each do |relation|
        %li= link_to relation[:title], new_profile_path(base_relation_id: base_relation_id, base_profile_id: base_profile_id, relation_id: relation[:id]), remote: true

    %li= link_to "Изменить", edit_profile_path(base_profile_id)
    %li= link_to "Общаться", '#', class: :grey
    %li= link_to "В избранные", '#', class: :grey
