- @search_results_relations = session[:search_results_relations]
- author_id = author.class == User ? author.id : params[:tree_id]

%table.tmp_table.circle-table{id: "circle-table-#{author_id}"}
  %tr
    %th.left Родня
    %th.left Имя
    %th.left Результаты поиска
    %th Ближний круг

  %tr
    %td Чьими глазами
    %td
      %h2
        - if author.class == User
          -#= link_to author.profile.full_name, edit_profile_path(author.profile.id)
          .dropdown
            %a{href:'#', onclick:"toggleDropDownMenu(this);return false;"}
              = author.profile.full_name
            %ul.dropdown-content
              %li.main-item= link_to "Смотреть", edit_profile_path(author.profile.id)
              %li.main-item= link_to "Пожать руку", '#', class: :grey
              %li.main-item= link_to "Общаться", '#', class: :grey
              %li.main-item= link_to "В избранные", '#', class: :grey
        - else
          -#= link_to [author.to_name, author.surname].join(' '), edit_profile_path(author.id)
          .dropdown
            %a{href:'#', onclick:"toggleDropDownMenu(this);return false;"}
              = [author.to_name, author.surname].join(' ')
            %ul.dropdown-content
              %li.main-item= link_to "Смотреть", edit_profile_path(author.id)
              %li.main-item= link_to "Пожать руку", '#', class: :grey
              %li.main-item= link_to "Общаться", '#', class: :grey
              %li.main-item= link_to "В избранные", '#', class: :grey
    %td
      Вероятно, это
      - if author.class == User
        = relation_to_profile(@search_results_relations.find {|r| r[author.profile.id] }.try(:[], author.profile.id) )
      - else
        = relation_to_profile(@search_results_relations.find {|r| r[author.id] }.try(:[], author.id) )

    %td

  - circle.each_with_index do |item, index|
    %tr
      %td= relation_to_human(item.relation_id)
      %td
        .dropdown
          %a{href:'#', onclick:"toggleDropDownMenu(this);return false;"}
            = [item.name.to_name, item.is_profile.surname].join(' ')
          %ul.dropdown-content
            %li.main-item= link_to "Смотреть", edit_profile_path(item.is_profile_id)
            %li.main-item= link_to "Пожать руку", '#', class: :grey
            %li.main-item= link_to "Общаться", '#', class: :grey
            %li.main-item= link_to "В избранные", '#', class: :grey
      %td
        - rel = relation_to_profile( @search_results_relations.find {|r| r[item.is_profile_id] }.try(:[], item.is_profile_id) )
        = rel.blank? ? nil : "Вероятно, это"
        = rel
      %td.center
        - if item.profile.tree_circle(author_id, item.is_profile_id).size > 0 and item.relation_id != 0
          = link_to "Cмотреть", search_circle_path(author_id, circle_path_helper(@path_params, item.is_profile_id, item.relation_id)), style: "margin-left:11px;color:green;", remote: true


%br
%br
%br
%br

:javascript
  closeAllDropDown();
