- result = @by_profiles.try(:first)

- if result
  - tree_owner_user = User.where(id: result[:found_tree_id]).first
  - found_profile   = Profile.where(id: result[:found_profile_id]).first
  %h2.single_search_result
    В дереве
    = YandexInflect.inflections(tree_owner_user.name)[1]["__content__"].mb_chars.capitalize
    мы нашли
    = YandexInflect.inflections(found_profile.name.name)[3]["__content__"].mb_chars.capitalize
    %span{style: 'font-weight:normal;color:grey;'}
      (совпадений:
      = result[:count]
      )
    = link_to "Объединиться с #{YandexInflect.inflections(tree_owner_user.name)[4]["__content__"].mb_chars.capitalize}", connection_of_trees_path( user_id_to_connect: result[:found_tree_id], certain_koeff: @certain_koeff), class: :green

  = render 'single_circle_table', circle: tree_owner_user.profile.circle(tree_owner_user.get_connected_users), author: tree_owner_user.profile
- else
  %h2 Нет резульатов поиска ;(
