-#
-#%p
-#  BK_массив: @bk_arr: #{@bk_arr.inspect}
-#%p
-#  @circle: #{@circle.inspect}
-#%p
-#  @circle_hash: #{@circle_hash.inspect}
-#%p
-#  @circle_hash_mothers: #{@circle_hash_mothers.inspect}

.content
  %h1
    = current_user.profile.name.name.mb_chars.capitalize
    \, это ваш ближний круг,


    = render 'circle_table', circle: @circle


  %div{style: "margin-top:50px;"}
    - if @all_match_arr_sorted.nil?
      %h1 Совпадений не найдено
    - else
      %h1 Вы или ваши родственники найдены в деревьях следующих людей:

      %table.tmp_table
        %tr
          %th Автор дерева
          %th
            Ближний круг автора, в котором
            %span.green возможно
            присутствуют ваши родственники:


        - @all_match_arr_sorted.each do |key, value|
          - user = User.where(id: key).first
          %tr
            %td
              %h2= user.name.mb_chars.capitalize

            %td
              %table.results_table
                - user.trees.each do |tree|
                  - profile = Profile.where(id: tree.is_profile_id).first
                  %tr
                    %td.grey= relation_to_human(tree.relation_id)
                    %td.name= profile.name.name.mb_chars.capitalize
                    %td.green.italic
                      - if @all_match_arr_sorted[user.id].include? profile.id
                        = relation_to_human( @all_match_relations_sorted[user.id][ @all_match_arr_sorted[user.id].index(profile.id) ], prefix: true )
                    %td
                      - if profile.user.present?
                        = link_to 'Пожать руку', '#', onclick: "alert('Пожать руку с user_id: #{profile.user.id}')"






    = render 'users/login_list'
