
.content
  .circle-view
    .circle-path#current-circle-path= render 'circle_path'
    .current-circle#current-circle= render 'circle_table', circle: @circle


  %div{style: "margin-top:50px;"}
    - if @search_results.empty?
      %h1.yellow-title Совпадений не найдено
    - else
      %h1.yellow-title Результаты поиска ваших родных:


    #path-results
      -#= @path_search_results
      - @path_search_results.each do |result|
        - user = result[:user]
        - paths = result[:paths]
        .path-result
          .user-info
            = image_tag 'profile-default.png', class: :avatar
            %h1= user.profile.full_name
            %h3
              Найдено
              = paths.size
              = Russian.p(paths.size, "совпадение", "совпадения", "совпадений")
          - paths.each do |path|
            .path
              %ul.path-list
                - path.each_with_index do |step, index|
                  %li.path-results
                    - if step[:relation] != 0
                      = relation_to_human(step[:relation])
                    = link_to step[:profile].to_name, '#'
                    -# = step[:data].inspect
                    - if (index + 1) == path.size
                      .span.whois
                        Вероятно, это
                        = relation_to_profile(@search_results_relations.find {|r| r[step[:profile].id] }.try(:[], step[:profile].id) )
                    - else
                      %span
                        = fa_icon('arrow-right')
              .more{style:'display:none;'}
                = render 'search_circle_table', circle: user.profile.circle(user.id), author: user



    -# - @search_results.each do |result|
    -#   .circle-view
    -#     - if result.author.class == User
    -#       .circle-path{id: "current-circle-path-#{result.author.id}"}
    -#         = render 'search_circle_path', author: result.author
    -#       .current-circle{id: "current-circle-#{result.author.id}"}
    -#         = render 'search_circle_table', circle: result.circle, author: result.author
    -#     - else
    -#       .circle-path{id: "current-circle-path-#{params[:tree_id]}"}
    -#         = render 'search_circle_path', author: result.author
    -#       .current-circle{id: "current-circle-#{params[:tree_id]}"}
    -#         = render 'search_circle_table', circle: result.circle, author: result.author




    = render 'users/login_list'
