%section.admin
  %h2 ГЛАВНАЯ страница (MAIN) - для основной работы
  %h4 Просмотр и наращивание древа.
  %h4 Вызов меню родственника: добавление нового смежного родственника, общение.
  %h4 Избранные, редактирование профиля.
  %h4 Здесь же: получение инфы о возможных совпадениях профилей в других древах.
  %h4 Переход к просмотру совпадений и дальнейшим рукопожатиям (подтверждениям).

  %h3 Отображение Древа Пользователя в табличной форме
  - if user_signed_in?
    %p current_user.id: #{current_user.id.inspect}
    -#%p @user_tree: #{@user_tree.inspect}
    -#%p @tree_arr: #{@tree_arr.inspect}

  -#%p
  -#  Массив профилей: @profile_arr: #{@profile_arr.inspect}
  -#%p
    -#  @last_user: #{@last_user.inspect}
    -#%p
    -#  @new_user_id: #{@new_user_id.inspect}
    -#%p
    -#  @tree_arr: #{@tree_arr.inspect}
  <li #{render :partial => 'main/main_display_tree'}

  %h4 Возврат на страницу Старт:  #{link_to "Старт -->", enter_myself_path}
  %h4 Возврат на страницу Лэндинг:  #{link_to "Landing -->", landing_path}
  %h4 Переход на страницу Админа:  #{link_to "Админ -->", admin_path}
