%p
  NEW PROFILE MAGN branch


%p
  @tree_arr: #{@tree_arr.inspect}

%h4
  Найдено #{@amount_of_profiles.inspect} совпадений профилей родных, в том числе #{@count.inspect} зарегистрированных пользователей.
%h4
  Их user_id: #{@users_ids_arr.inspect}
%p
  @relation_id_searched_arr: #{@relation_id_searched_arr.inspect}
%p
  @from_profile_searching: #{@from_profile_searching.inspect}
%p
  @profile_searched: #{@profile_searched.inspect}
%p
  @relation_searched: #{@relation_searched.inspect}
%p
  @all_profile_rows: #{@all_profile_rows.inspect}
%p
  @all_profile_rows_len: #{@all_profile_rows_len.inspect}
%p
  @relation_match_arr: #{@relation_match_arr.inspect}
%p
  @relation_match_size: #{@relation_match_size.inspect}

%p
  @found_trees_hash: #{@found_trees_hash.inspect}
%p
  @found_trees_keys_arr: #{@found_trees_keys_arr.inspect}
%p
  @found_trees_values_arr: #{@found_trees_values_arr.inspect}

%p
  @found_profiles_hash: #{@found_profiles_hash.inspect}
%p
  @found_profiles_values_arr: #{@found_profiles_values_arr.inspect}
%p
  @wide_found_profiles_hash: #{@wide_found_profiles_hash.inspect}
%p
  @wide_found_relations_hash: #{@wide_found_relations_hash.inspect}


-#%p
-#  @bk_profile: #{@bk_profile.inspect}

%p
  @found_profiles_hash: #{@found_profiles_hash.inspect}
%p
  @found_relations_hash: #{@found_relations_hash.inspect}

%p
  @all_match_profiles_arr: #{@all_match_profiles_arr.inspect}
%p
  @all_match_relations_arr: #{@all_match_relations_arr.inspect}

%p
  @all_wide_match_profiles_arr: #{@all_wide_match_profiles_arr.inspect}
%p
  @all_wide_match_hash: #{@all_wide_match_hash.inspect}
%p
  @all_wide_match_relations_arr: #{@all_wide_match_relations_arr.inspect}
%h4
  ВСЕ СОВПАДЕНИЯ РОДНЫХ: {дерево  профили}@all_match_arr_sorted: #{@all_match_arr_sorted.inspect}
%h4
  ВСЕ wide СОВПАДЕНИЯ РОДНЫХ: {дерево  профили}@all_wide_match_arr_sorted: #{@all_wide_match_arr_sorted.inspect}



%p
  @complete_hash: #{@complete_hash.inspect}




%h4
  ПОЛНЫЙ ХЭШ ПРОФИЛЕЙ: @final_reduced_profiles_hash: #{@final_reduced_profiles_hash.inspect}
%p
  НОМЕРА ДЕРЕВЬЕВ (АВТОРОВ) @user_ids_arr: #{@user_ids_arr.inspect}
%p
  НОМЕРА wide ДЕРЕВЬЕВ (АВТОРОВ) @wide_user_ids_arr: #{@wide_user_ids_arr.inspect}
%h4
  ПРОФИЛИ: @wide_profile_ids_arr: #{@wide_profile_ids_arr.inspect}
%h4
  @wide_amount_of_profiles: #{@wide_amount_of_profiles.inspect}


%p
  НОМЕРА ОТНОШЕНИЙ @all_match_relations_sorted: #{@all_match_relations_sorted.inspect}
-#%p
-#  НОМЕРА wide ОТНОШЕНИЙ @all_wide_match_relations_sorted: #{@all_wide_match_relations_sorted.inspect}

%h4
  ПОЛНЫЙ ХЭШ ОТНОШЕНИй: @final_reduced_relations_hash: #{@final_reduced_relations_hash.inspect}

%p
  @test_hash_arr_profiles: #{@test_hash_arr_profiles.inspect}
%p
  @key_hash: #{@key_hash.inspect}
%p
  @val_hash: #{@val_hash.inspect}
%p
  @wide_hash: #{@wide_hash.inspect}
%p
  @one_hash: #{@one_hash.inspect}

%p
  @rez_hash: #{@rez_hash.inspect}



%p
  @rez_wide_val: #{@rez_wide_val.inspect}



%p
  @test_complete_hash: #{@test_complete_hash.inspect}


-#%p
-#  @final_merged_hash: #{@final_merged_hash.inspect}
%p
  @new_test_hash_profiles: #{@new_test_hash_profiles.inspect}



.content
  %h1
    = current_user.profile.name.name.mb_chars.capitalize
    \, это ваш ближний круг,
    = current_user.id # DEBUGG TO VIEW

  %table.tmp_table
    %tr
      %th Родственное отношение к вам
      %th Имя родственника
      %th
    - @tree_arr.each_with_index do |item, index|
      %tr
        %td= relation_to_human(item[3]) #{@tree_arr.inspect}
        %td= Name.find(item[5]).name.mb_chars.capitalize
        %td= item[4]  # DEBUGG TO VIEW
        %td
          = link_to "Добавить родственника", add_new_profile_path(relation_id: item[3], profile_id: item[4], user_id: current_user.id), onclick: "alert('Добавить нового родственника к relation_id: #{item[3]}, profile_id: #{item[4]}, в дереве user_id: #{current_user.id}')"


  %div{style: "margin-top:50px;"}
    - if @all_match_arr_sorted.blank?
      %h1 Совпадений не найдено
    - else
      %h1 Вы или ваши родственники найдены в деревьях следующих людей:

      %table.tmp_table
        %tr
          %th Автор дерева
          %th
            Ближний круг автора, в котором
            %span.green возможно
            присутствуют ваши родственники:


        - @all_match_arr_sorted.each do |key, value|
          - user = User.where(id: key).first
          %tr
            %td
              %h2= user.name.mb_chars.capitalize
              %h2= user.id  # DEBUGG TO VIEW

            %td
              %table.results_table
                - user.trees.each do |tree|
                  - profile = Profile.where(id: tree.is_profile_id).first
                  %tr
                    %td.grey= relation_to_human(tree.relation_id)
                    %td.name= profile.name.name.mb_chars.capitalize
                    %td.grey= profile.id  # DEBUGG TO VIEW
                    %td.green.italic
                      - if @all_match_arr_sorted[user.id].include? profile.id
                        = relation_to_human( @all_match_relations_sorted[user.id][ @all_match_arr_sorted[user.id].index(profile.id) ], prefix: true )
                    %td
                      - if profile.user.present?
                        = link_to 'Пожать руку', '#', onclick: "alert('Пожать руку с user_id: #{profile.user.id}')"






    = render 'users/login_list'
