
-#%p
-#  @tree_arr: #{@tree_arr.inspect}
%p
  Connected Users Search:
%p
  who_found_user_id = @current_user.id: #{@current_user_id.inspect}
%p
  where_found_user_id = @user_id: #{@user_id.inspect}
%p
  @connected_users_arr: #{@connected_users_arr.inspect}

-#%p
-#  @tree_of_user: #{@tree_of_user.inspect}
-#%p
-#  @check_tree_arr: #{@check_tree_arr.inspect}
%p
  @len_check_tree: #{@len_check_tree.inspect}
%p
  @new_tree_arr: #{@new_tree_arr.inspect}
%p
  @qty_of_tree_profiles - Length: #{@qty_of_tree_profiles.inspect}

-#%p
-#  BK_массив: @bk_arr: #{@bk_arr.inspect}
%p
  @circle_result: #{@circle_result.inspect}
%p
  @circle_result_len: #{@circle_result_len.inspect}
-#%p
-#  @circle_hash_mothers: #{@circle_hash_mothers.inspect}
-#
-#%h4
-#  Найдено #{@amount_of_profiles.inspect} совпадений профилей родных, в том числе #{@count.inspect} зарегистрированных пользователей.
-#%h4
-#  Их user_id: #{@users_ids_arr.inspect}
-#%p
-#  @relation_id_searched_arr: #{@relation_id_searched_arr.inspect}
-#%p
-#  @from_profile_searching: #{@from_profile_searching.inspect}
-#%p
-#  @profile_searched: #{@profile_searched.inspect}
-#%p
-#  @relation_searched: #{@relation_searched.inspect}
-#%p
-#  @all_profile_rows: #{@all_profile_rows.inspect}
-#%p
-#  @all_profile_rows_len: #{@all_profile_rows_len.inspect}
-#%p
-#  @relation_match_arr: #{@relation_match_arr.inspect}
-#%p
-#  @relation_match_size: #{@relation_match_size.inspect}
-#
-#%p
-#  @found_trees_hash: #{@found_trees_hash.inspect}
-#%p
-#  @found_trees_keys_arr: #{@found_trees_keys_arr.inspect}
-#%p
-#  @found_trees_values_arr: #{@found_trees_values_arr.inspect}
-#
-#%p
-#  @found_profiles_hash: #{@found_profiles_hash.inspect}
-#%p
-#  @found_profiles_values_arr: #{@found_profiles_values_arr.inspect}
-#%p
-#  @wide_found_profiles_hash: #{@wide_found_profiles_hash.inspect}
-#%p
-#  @wide_found_relations_hash: #{@wide_found_relations_hash.inspect}
-#
-#
-#%p
-#  @found_profiles_hash: #{@found_profiles_hash.inspect}
-#%p
-#  @found_relations_hash: #{@found_relations_hash.inspect}
-#
-#%p
-#  @all_match_profiles_arr: #{@all_match_profiles_arr.inspect}
-#%p
-#  @all_match_relations_arr: #{@all_match_relations_arr.inspect}
-#
-#%p
-#  @all_wide_match_profiles_arr: #{@all_wide_match_profiles_arr.inspect}
-#%p
-#  @all_wide_match_hash: #{@all_wide_match_hash.inspect}
-#%p
-#  @all_wide_match_relations_arr: #{@all_wide_match_relations_arr.inspect}

-#%h4
-#  ВСЕ СОВПАДЕНИЯ РОДНЫХ: {дерево  профили}@all_match_arr_sorted: #{@all_match_arr_sorted.inspect}
%h4
  ПОЛНЫЙ ХЭШ ПРОФИЛЕЙ: {дерево  профили}@all_wide_match_arr_sorted: #{@all_wide_match_arr_sorted.inspect}

%h4
  ВСЕ wide СОВПАДЕНИЯ РОДНЫХ : @final_reduced_profiles_hash: #{@final_reduced_profiles_hash.inspect}

-#%p
-#  НОМЕРА ДЕРЕВЬЕВ (АВТОРОВ) @user_ids_arr: #{@user_ids_arr.inspect}

-# %p
-#   ВСЕ НАЙДЕННЫЕ НОМЕРА wide ДЕРЕВЬЕВ (АВТОРОВ) @wide_user_ids_arr: #{@wide_user_ids_arr.inspect}
-#
-# %h4
-#   ВСЕ НАЙДЕННЫЕ ПРОФИЛИ: @wide_profile_ids_arr: #{@wide_profile_ids_arr.inspect}
-#
-# %h4
-#   @wide_amount_of_profiles: #{@wide_amount_of_profiles.inspect}
-#%h4
-#  @complete_hash: #{@complete_hash.inspect}
-#
-#
-#%p
-#  НОМЕРА ОТНОШЕНИЙ @all_match_relations_sorted: #{@all_match_relations_sorted.inspect}
-#%p
-#  НОМЕРА wide ОТНОШЕНИЙ @all_wide_match_relations_sorted: #{@all_wide_match_relations_sorted.inspect}

%h4
  ВСЕ wide НАЙДЕННЫЕ НОМЕРА ОТНОШЕНИй: @final_reduced_relations_hash: #{@final_reduced_relations_hash.inspect}

%p
  @elapsed_search_time: #{@elapsed_search_time.inspect}
-#
-#
-#
-#
-#%p
-#  make_search_results_paths ###########
%p
  @search_path_hash: #{@search_path_hash.inspect}
%p
  @one_tree_hash: #{@one_tree_hash.inspect}
%p
  @v_tree_hash: #{@v_tree_hash.inspect}
%p
  @one_wide_hash: #{@one_wide_hash.inspect}
%p
  @new_search_path_hash: #{@new_search_path_hash.inspect}





-#%p
-#  make_questions in NON-STANDARD CASE ###########
-#%p
-#  Добавляем к кому: @relation_add_to: #{@relation_add_to.inspect}
-#%p
-#  Добавляем кого: @relation_added: #{@relation_added.inspect}
-#%p
-#  С именем: @name_id: #{@name_id.inspect}
-#
-#%p
-#  @non_standard_questions_hash: #{@non_standard_questions_hash.inspect}





.content
  .circle-view
    .circle-path#current-circle-path= render 'circle_path'
    %h5{style:"padding:10px 0 0 10px"}
      В вашем дереве
      %strong{style:'font-weight:700;color:green;'}= @qty_of_tree_profiles
      = Russian.p(@qty_of_tree_profiles, "родственника", "родственника", "родственников")
      (объединенных деревьев:
      = current_user.get_connected_users.size
      )
    .current-circle#current-circle= render 'circle_table', circle: @circle


  %div{style: "margin-top:50px;"}
    - if @search_results.empty?
      %h1.yellow-title Совпадений не найдено
    - else
      %h1.yellow-title Возможно, мы нашли ваших родственников:

      #search-results
        %ul
          - @search_results_data.each do |data|
            - user = User.find(data.user_id)
            %li
              %h1
                = data.user_name
                - if data.connected
                  %strong (объединенное дерево)

                %span
                  Содержит
                  - counter = data.results.map{|p| p.results_count}.inject(:+)
                  = counter
                  = Russian.p(counter, "общего", "общих", "общих")
                  с вами
                  = Russian.p(counter, "родственника", "родственников", "родственников")
                  в своем древе


                = link_to 'Объединиться', connection_of_trees_path(current_user_id: current_user.id, user_id_to_connect: user.id, matched_profiles: @final_reduced_profiles_hash, matched_relations: @final_reduced_relations_hash), class: :handshake
              %ul
                - data.results.each do |profile|
                  %li
                    %h3
                      Для
                      = YandexInflect.inflections(profile.profile_name)[1]["__content__"].mb_chars.capitalize
                      из вашего дерева найдены:
                    -# %h5
                    -#   Содержит
                    -#   = profile.results_count
                    -#   = Russian.p(profile.results_count, "общего", "общих", "общих")
                    -#   = Russian.p(profile.results_count, "родственника", "родственников", "родственников")

                    %ul
                      - profile.results.each do |path|
                        - path_id = Digest::MD5.hexdigest(path.to_s)
                        %ul
                          - path.each_with_index do |step, index|
                            %li
                              - if step[:relation] != 0
                                = sex_id_to_human(step[:prev_sex_id])
                                = relation_to_human(step[:relation])
                              = link_to step[:profile].to_name, "/search/circle_path/#{path_id}/#{data.user_id}/#{step[:profile].id},#{step[:relation]}", remote: true
                              - if (index + 1) == path.size
                                .span.whois
                                  Вероятно, это
                                  = relation_to_profile(@search_results_relations.find {|r| r[step[:profile].id] }.try(:[], step[:profile].id) )
                              - else
                                %span
                                  = fa_icon('arrow-right')
                          .search-path-table{id: "search-path-table-#{path_id}", style: 'display:none;'}
                            = render 'search_circle_path_table', circle: user.profile.circle(user.id), author: user, path_id: path_id








    #path-results
      - @path_search_results.each do |result|
        - user = result[:user]
        - paths = result[:paths]
        .path-result{id: "path-results-#{user.id}"}
          = link_to fa_icon("plus-square-o"), '#', onclick: "showSearchResluts(#{user.id}); return false;", class: "open-search-results-link"
          .user-info
            = image_tag 'profile-default.png', class: :avatar
            %h1= user.profile.full_name
            %h3
              Содержит
              = paths.size
              общих
              = Russian.p(paths.size, "родственника", "родственников", "родственников")
          = link_to 'Объединиться', connection_of_trees_path(current_user_id: current_user.id, user_id_to_connect: user.id, matched_profiles: @final_reduced_profiles_hash, matched_relations: @final_reduced_relations_hash), class: :handshake
          .results{style: 'display:none;', id: "results-#{user.id}"}
            - paths.each do |path|
              - path_id = Digest::MD5.hexdigest(path.to_s)
              .path
                %ul.path-list.path-search-list
                  - path.each_with_index do |step, index|
                    %li
                      - if step[:relation] != 0
                        = sex_id_to_human(step[:prev_sex_id])
                        = relation_to_human(step[:relation])
                      = link_to step[:profile].to_name, "/search/circle_path/#{path_id}/#{user.id}/#{step[:profile].id},#{step[:relation]}", remote: true
                      - if (index + 1) == path.size
                        .span.whois
                          Вероятно, это
                          = relation_to_profile(@search_results_relations.find {|r| r[step[:profile].id] }.try(:[], step[:profile].id) )
                      - else
                        %span
                          = fa_icon('arrow-right')

                .search-path-table{id: "search-path-table-#{path_id}", style: 'display:none;'}
                  = render 'search_circle_path_table', circle: user.profile.circle(user.id), author: user, path_id: path_id

  -# - @search_results.each do |result|
  -#   .circle-view
  -#     - if result.author.class == User
  -#       .circle-path{id: "current-circle-path-#{result.author.id}"}
  -#         = render 'search_circle_path', author: result.author
  -#       .current-circle{id: "current-circle-#{result.author.id}"}
  -#         = render 'search_circle_table', circle: result.circle, author: result.author
  -#     - else
  -#       .circle-path{id: "current-circle-path-#{params[:tree_id]}"}
  -#         = render 'search_circle_path', author: result.author
  -#       .current-circle{id: "current-circle-#{params[:tree_id]}"}
  -#         = render 'search_circle_table', circle: result.circle, author: result.author




    = render 'users/login_list'
