.content
  %h1
    = current_user.profile.name.name.mb_chars.capitalize
    \, это ваш ближний круг


  %table.tmp_table
    %tr
      %th Отношение
      %th Имя
    - @tree_arr.each do |item|
      %tr
        %td= relation_to_human(item[3])
        %td= Name.where(id: item[5]).first.name.mb_chars.capitalize


  %div{style: "margin-top:50px;"}
    - if @all_match_arr_sorted.nil?
      %h1 Совпадений не найдено
    - else
      %h1 Вы или ваши родственники найдены в деревьях следующих людей:

      %table.tmp_table
        %tr
          %th Пользователь
          %th Родственники
        - @all_match_arr_sorted.each do |key, value|
          %tr
            %td= User.where(id: key).first.name.mb_chars.capitalize
            %td
              %ul
                - Profile.where(id: value).each_with_index do |profile, index|
                  %li{style: "margin-bottom:6px;"}
                    = profile.name.name.mb_chars.capitalize
                    .span{style: "color:grey;font-size:small;"}= relation_to_human(@relation_ids_arr[index])



    %div{style: "margin-top:100px;margin-bottom:75px;"}
      %h1 Список зарегистрированных пользователей
      %table.tmp_table
        - User.all.reverse.each do |user|
          %tr
            %td= user.profile.name.name.mb_chars.capitalize
            %td= user.profile.email
            %td= link_to "Войти под этим пользователем", login_as_user_path(user.id)
