-# %h4
-#   Найдено #{@amount_of_profiles.inspect} совпадений профилей родных, в том числе #{@count.inspect} зарегистрированных пользователей.
-# %h4
-#   Их user_id: #{@users_ids_arr.inspect}






.content
  %h1
    = current_user.profile.name.name.mb_chars.capitalize
    \, это ваш ближний круг,
    -# = current_user.id

  %table.tmp_table
    %tr
      %th Родственное отношение к вам
      %th Имя родственника
      %th
    - @tree_arr.each do |item|
      %tr
        %td= relation_to_human(item[3])
        %td= Name.where(id: item[5]).first.name.mb_chars.capitalize
        %td= link_to "Добавить родственника", '#', onclick: "alert('Добавить родственника к profile_id: #{item[4]}, в дереве user_id: #{current_user.id}')"


  %div{style: "margin-top:50px;"}
    - if @all_match_arr_sorted.nil?
      %h1 Совпадений не найдено
    - else
      %h1 Вы или ваши родственники найдены в деревьях следующих людей:

      %table.tmp_table
        %tr
          %th Автор дерева
          %th
            Ближний круг автора, в котором
            %span.green возможно
            присутствуют ваши родственники:


        - @all_match_arr_sorted.each do |key, value|
          - user = User.where(id: key).first
          %tr
            %td
              %h2= user.name.mb_chars.capitalize

            %td
              %table.results_table
                - user.trees.each do |tree|
                  - profile = Profile.where(id: tree.is_profile_id).first
                  %tr
                    %td.grey= relation_to_human(tree.relation_id)
                    %td.name= profile.name.name.mb_chars.capitalize
                    %td.green.italic
                      - if @all_match_arr_sorted[user.id].include? profile.id
                        = relation_to_human( @all_match_arr_sorted[user.id].index(profile.id), prefix: true )
                    %td= link_to 'Пожать руку', '#'






    = render 'users/login_list'
