-# вывод отладочной информации только в dev режиме
- if Rails.env = 'development'
  = render 'debugger'

.content
  = form_tag('/main_page') do
    = select_tag :certain_koeff, options_for_select([1,2,3,4,5,6,7,8,9,10], selected: @certain_koeff)
    = submit_tag 'Запустить поиск'


-# Дерево текущего польщзователя
.content
  .circle-view
    .circle-path#current-circle-path= render 'circle_path'
    %h5{style:"padding:10px 0 0 10px"}
      В вашем дереве
      %strong{style:'font-weight:700;color:green;'}= @qty_of_tree_profiles
      = Russian.p(@qty_of_tree_profiles, "родственника", "родственника", "родственников")
      (объединенных деревьев:
      = current_user.get_connected_users.size
      )
    .current-circle#current-circle= render 'circle_table', circle: @circle



-# Результаты поиска - один результат за раз
.content= render 'single_search_result'

-##path-results
-#  - @path_search_results.each do |result|
-#    - user = result[:user]
-#    - paths = result[:paths]
-#    .path-result{id: "path-results-#{user.id}"}
-#      = link_to fa_icon("plus-square-o"), '#', onclick: "showSearchResluts(#{user.id}); return false;", class: "open-search-results-link"
-#      .user-info
-#        = image_tag 'profile-default.png', class: :avatar
-#        %h1= user.profile.full_name
-#        %h3
-#          Содержит
-#          = paths.size
-#          общих
-#          = Russian.p(paths.size, "родственника", "родственников", "родственников")
-#      = link_to 'Объединиться', connection_of_trees_path(current_user_id: current_user.id, user_id_to_connect: user.id, matched_profiles: @final_reduced_profiles_hash, matched_relations: @final_reduced_relations_hash), class: :handshake
-#      .results{style: 'display:none;', id: "results-#{user.id}"}
-#        - paths.each do |path|
-#          - path_id = Digest::MD5.hexdigest(path.to_s)
-#          .path
-#            %ul.path-list.path-search-list
-#              - path.each_with_index do |step, index|
-#                %li
-#                  - if step[:relation] != 0
-#                    = sex_id_to_human(step[:prev_sex_id])
-#                    = relation_to_human(step[:relation])
-#                  = link_to step[:profile].to_name, "/search/circle_path/#{path_id}/#{user.id}/#{step[:profile].id},#{step[:relation]}", remote: true
-#                  - if (index + 1) == path.size
-#                    .span.whois
-#                      Вероятно, это
-#                      = relation_to_profile(@search_results_relations.find {|r| r[step[:profile].id] }.try(:[], step[:profile].id) )
-#                  - else
-#                    %span
-#                      = fa_icon('arrow-right')
-#
-#            .search-path-table{id: "search-path-table-#{path_id}", style: 'display:none;'}
-#              = render 'search_circle_path_table', circle: user.profile.circle(user.id), author: user, path_id: path_id

-# - @search_results.each do |result|
-#   .circle-view
-#     - if result.author.class == User
-#       .circle-path{id: "current-circle-path-#{result.author.id}"}
-#         = render 'search_circle_path', author: result.author
-#       .current-circle{id: "current-circle-#{result.author.id}"}
-#         = render 'search_circle_table', circle: result.circle, author: result.author
-#     - else
-#       .circle-path{id: "current-circle-path-#{params[:tree_id]}"}
-#         = render 'search_circle_path', author: result.author
-#       .current-circle{id: "current-circle-#{params[:tree_id]}"}
-#         = render 'search_circle_table', circle: result.circle, author: result.author

-#Результаты поиска - версия для Алексей
= render 'alex_search_results'



.content
  = render 'users/login_list'
