%section.admin
  %h2 ГЛАВНАЯ страница (MAIN) - для основной работы
  %h4 Просмотр и наращивание древа.
  %h4 Вызов меню родственника: добавление нового смежного родственника, общение.
  %h4 Избранные, редактирование профиля.
  %h4 Здесь же: получение инфы о возможных совпадениях профилей в других древах.
  %h4 Переход к просмотру совпадений и дальнейшим рукопожатиям (подтверждениям).

  %h3 Отображение Древа Пользователя в табличной форме
  - if user_signed_in?
    %p current_user.id: #{current_user.id.inspect}
    -#%p @user_tree: #{@user_tree.inspect}
    -#%p @tree_arr: #{@tree_arr.inspect}

  -#%p
    -#  @last_user: #{@last_user.inspect}
    -#%p
    -#  @new_user_id: #{@new_user_id.inspect}
    -#%p @
    -#  @tree_arr: #{@tree_arr.inspect}
  <li #{render :partial => 'main/main_display_tree'}



  %p
    @fath_triplex_arr: #{@fath_triplex_arr.inspect}
  %p
    @fathers_name_user_ids: #{@fathers_name_user_ids.inspect}
  %p
    @fathers_ids: #{@fathers_ids.inspect}



  %p
    @mothers_name_profile_ids: #{@mothers_name_profile_ids.inspect}
  %p
    @Fath_fathers_trees_arr: #{@Fath_fathers_trees_arr.inspect}

  %p
    @common_trees_arr: #{@common_trees_arr.inspect}
  %p
    @search_relation: #{@search_relation.inspect}
  %h4 Brothers
  %p
    @brothers_match_arr: #{@brothers_match_arr.inspect}
  %p
    @brothers_profile_id_arr: #{@brothers_profile_id_arr.inspect}
  %p
    @search_results: #{@search_results.inspect}
  %h4
    Массив всех совпадений родных: @all_match_arr: #{@all_match_arr.inspect}
  %h4
    @msg_brother: #{@msg_brother.inspect}
  %h4 Sisters
  %p
    @sisters_match_arr: #{@sisters_match_arr.inspect}
  %p
    @sisters_profile_id_arr: #{@sisters_profile_id_arr.inspect}
  -#%p
  -#  @sisters_search_results: #{@sisters_search_results.inspect}
  %h4
    Массив всех совпадений родных: @all_match_arr: #{@all_match_arr.inspect}
  %h4
    @msg_sister: #{@msg_sister.inspect}

  %h4 Возврат на страницу Старт:  #{link_to "Старт -->", enter_myself_path}
  %h4 Возврат на страницу Лэндинг:  #{link_to "Landing -->", landing_path}
  %h4 Переход на страницу Админа:  #{link_to "Админ -->", admin_path}
