
%p
  @tree_arr: #{@tree_arr.inspect}

%p
  @new_tree_arr: #{@new_tree_arr.inspect}

-#%p
-#  BK_массив: @bk_arr: #{@bk_arr.inspect}
-#%p
-#  @circle: #{@circle.inspect}
-#%p
-#  @circle_hash: #{@circle_hash.inspect}
-#%p
-#  @circle_hash_mothers: #{@circle_hash_mothers.inspect}
-#
-#%h4
-#  Найдено #{@amount_of_profiles.inspect} совпадений профилей родных, в том числе #{@count.inspect} зарегистрированных пользователей.
-#%h4
-#  Их user_id: #{@users_ids_arr.inspect}
-#%p
-#  @relation_id_searched_arr: #{@relation_id_searched_arr.inspect}
%p
  @from_profile_searching: #{@from_profile_searching.inspect}
%p
  @profile_searched: #{@profile_searched.inspect}
-#%p
-#  @relation_searched: #{@relation_searched.inspect}
%p
  @all_profile_rows: #{@all_profile_rows.inspect}
%p
  @all_profile_rows_len: #{@all_profile_rows_len.inspect}
-#%p
-#  @relation_match_arr: #{@relation_match_arr.inspect}
-#%p
-#  @relation_match_size: #{@relation_match_size.inspect}
-#
-#%p
-#  @found_trees_hash: #{@found_trees_hash.inspect}
-#%p
-#  @found_trees_keys_arr: #{@found_trees_keys_arr.inspect}
-#%p
-#  @found_trees_values_arr: #{@found_trees_values_arr.inspect}
-#
-#%p
-#  @found_profiles_hash: #{@found_profiles_hash.inspect}
-#%p
-#  @found_profiles_values_arr: #{@found_profiles_values_arr.inspect}
-#%p
-#  @test_wide_found_profiles_hash: #{@test_wide_found_profiles_hash.inspect}
-#%p
-#  @wide_found_relations_hash: #{@wide_found_relations_hash.inspect}
-#
-#
-#%p
-#  @found_profiles_hash: #{@found_profiles_hash.inspect}
-#%p
-#  @found_relations_hash: #{@found_relations_hash.inspect}
-#
-#%p
-#  @all_match_profiles_arr: #{@all_match_profiles_arr.inspect}
-#%p
-#  @all_match_relations_arr: #{@all_match_relations_arr.inspect}
-#
-#%p
-#  @all_wide_match_profiles_arr: #{@all_wide_match_profiles_arr.inspect}
-#%p
-#  @all_wide_match_hash: #{@all_wide_match_hash.inspect}
-#%p
-#  @all_wide_match_relations_arr: #{@all_wide_match_relations_arr.inspect}
%h4
  ВСЕ СОВПАДЕНИЯ РОДНЫХ: {дерево  профили}@all_match_arr_sorted: #{@all_match_arr_sorted.inspect}
-#%h4
-#  ПОЛНЫЙ ХЭШ ПРОФИЛЕЙ: {дерево  профили}@all_wide_match_arr_sorted: #{@all_wide_match_arr_sorted.inspect}

%h4
  ВСЕ wide СОВПАДЕНИЯ РОДНЫХ : @final_reduced_profiles_hash: #{@final_reduced_profiles_hash.inspect}
%p
  НОМЕРА ДЕРЕВЬЕВ (АВТОРОВ) @user_ids_arr: #{@user_ids_arr.inspect}
%p
  ВСЕ НАЙДЕННЫЕ НОМЕРА wide ДЕРЕВЬЕВ (АВТОРОВ) @wide_user_ids_arr: #{@wide_user_ids_arr.inspect}
%h4
  ВСЕ НАЙДЕННЫЕ ПРОФИЛИ: @wide_profile_ids_arr: #{@wide_profile_ids_arr.inspect}
%h4
  @wide_amount_of_profiles: #{@wide_amount_of_profiles.inspect}
-#%h4
-#  @complete_hash: #{@complete_hash.inspect}
-#
-#
%p
  НОМЕРА ОТНОШЕНИЙ @all_match_relations_sorted: #{@all_match_relations_sorted.inspect}
-#%p
-#  НОМЕРА wide ОТНОШЕНИЙ @all_wide_match_relations_sorted: #{@all_wide_match_relations_sorted.inspect}

%h4
  ВСЕ wide НАЙДЕННЫЕ НОМЕРА ОТНОШЕНИй: @final_reduced_relations_hash: #{@final_reduced_relations_hash.inspect}
-#
-#
-#
-#%p
-#  @final_merged_hash: #{@final_merged_hash.inspect}
-#%p
-#  @new_test_hash_profiles: #{@new_test_hash_profiles.inspect}



.content
  %h1
    = current_user.profile.name.name.mb_chars.capitalize
    \, это ваш ближний круг,
    = current_user.id # DEBUGG TO VIEW


  #circle-view
    #circle-path= render 'circle_path'
    #current-circle= render 'circle_table', circle: @circle


  %div{style: "margin-top:50px;"}
    - if @all_match_arr_sorted.blank?
      %h1 Совпадений не найдено
    - else
      %h1 Вы или ваши родственники найдены в деревьях следующих людей:

      %table.tmp_table
        %tr
          %th Автор дерева
          %th
            Ближний круг автора, в котором
            %span.green возможно
            присутствуют ваши родственники:


        - @all_match_arr_sorted.each do |key, value|
          - user = User.where(id: key).first
          %tr
            %td
              %h2= user.name.mb_chars.capitalize
              %h2= user.id  # DEBUGG TO VIEW

            %td
              %table.results_table
                - user.trees.each do |tree|
                  - profile = Profile.where(id: tree.is_profile_id).first
                  %tr
                    %td.grey= relation_to_human(tree.relation_id)
                    %td.name= profile.name.name.mb_chars.capitalize
                    %td.grey= profile.id  # DEBUGG TO VIEW
                    %td.green.italic
                      - if @all_match_arr_sorted[user.id].include? profile.id
                        = relation_to_human( @all_match_relations_sorted[user.id][ @all_match_arr_sorted[user.id].index(profile.id) ], prefix: true )
                    %td
                      - if profile.user.present?
                        -#= link_to 'Пожать руку', '#', onclick: "alert('Пожать руку с user_id: #{profile.user.id}')"
                        = link_to 'Пожать руку', connection_of_trees_path(first_user_id: current_user.id, second_user_id: user.id, matched_profiles: @final_reduced_profiles_hash, matched_relations: @final_reduced_relations_hash)






    = render 'users/login_list'
