.content
  %h1
    = current_user.profile.name.name.mb_chars.capitalize
    \, это ваш ближний круг


  %table.tmp_table
    %tr
      %th Отношение
      %th Имя
    - @tree_arr.each do |item|
      %tr
        %td= relation_to_human(item[3])
        %td= Name.where(id: item[5]).first.name.mb_chars.capitalize


  %div{style: "margin-top:50px;"}
    - if @all_match_arr_sorted.nil?
      %h1 Совпадений не найдено
    - else
      %h1 Вы или ваши родственники найдены в деревьях следующих людей:

      %table.tmp_table
        %tr
          %th Пользователь
          %th Родственники
          %th Весь ближний круг
          %th Пересечение с поиском
        - @all_match_arr_sorted.each do |key, value|
          - user = User.where(id: key).first
          %tr
            %td= user.name.mb_chars.capitalize
            %td
              %ul
                - Profile.where(id: value).each_with_index do |profile, index|
                  %li{style: "margin-bottom:6px;"}
                    %span{style: "color:grey;font-size:small;width:75px;display:inline-block;"}= relation_to_human(@relation_ids_arr[index])
                    = profile.name.name.mb_chars.capitalize

            - # Alexey listing
            %td
              %ul
                - user.trees.each do |tree|
                  - profile = Profile.where(id: tree.is_profile_id).first
                  %li{style: "margin-bottom:6px;"}
                    %span{style: "color:grey;font-size:small;width:75px;display:inline-block;"}= relation_to_human(tree.relation_id)
                    = profile.name.name.mb_chars.capitalize


            %td
              - matched_profile_ids = @all_match_arr_sorted[user.id]
              %ul
                - user.trees.each do |tree|
                  - profile = Profile.where(id: tree.is_profile_id).first
                  %li{style: "margin-bottom:6px;"}
                    %span{style: "color:grey;font-size:small;width:75px;display:inline-block;"}= relation_to_human(tree.relation_id)
                    - if matched_profile_ids.include? profile.id
                      = profile.name.name.mb_chars.capitalize
                    - else
                      %span{style:"color:grey;text-decoration:line-through;"}
                        = profile.name.name.mb_chars.capitalize





    = render 'users/login_list'
