.content
  %h1
    = current_user.profile.name.name.mb_chars.capitalize
    \, это ваш ближний круг,
    -# = current_user.id

  %table.tmp_table
    %tr
      %th Родственное отношение к вам
      %th Имя родственника
      -# %th profile_id
    - @tree_arr.each do |item|
      %tr
        %td= relation_to_human(item[3])
        %td= Name.where(id: item[5]).first.name.mb_chars.capitalize
        -# %td= item[4]


  %div{style: "margin-top:50px;"}
    - if @all_match_arr_sorted.nil?
      %h1 Совпадений не найдено
    - else
      %h1 Вы или ваши родственники найдены в деревьях следующих людей:

      %table.tmp_table
        %tr
          %th Автор дерева
          %th Ближний круг автора
          %th Результаты поиска.  Возможно, это ваши родные:

        - @all_match_arr_sorted.each do |key, value|
          - user = User.where(id: key).first
          %tr
            %td
              = user.name.mb_chars.capitalize
              -# = user.id # DEBUGG
            %td
              %ul
                - user.trees.each do |tree|
                  - profile = Profile.where(id: tree.is_profile_id).first
                  %li{style: "margin-bottom:6px;"}
                    %span{style: "color:grey;font-size:small;width:75px;display:inline-block;"}= relation_to_human(tree.relation_id)
                    = profile.name.name.mb_chars.capitalize

            %td
              - matched_profile_ids = @all_match_arr_sorted[user.id]
              - matched_relations_ids = @all_match_relations_sorted[user.id]
              %ul
                - user.trees.each do |tree|
                  - profile = Profile.where(id: tree.is_profile_id).first
                  -#= profile.id   # DEBUGG
                  %li{style: "margin-bottom:6px;"}
                    - ind = matched_profile_ids.index(profile.id)
                    %span{style: "color:grey;font-size:small;width:75px;display:inline-block;"}= relation_to_human(tree.relation_id)
                    - if matched_profile_ids.include? profile.id
                      = profile.name.name.mb_chars.capitalize
                      -#= matched_relations_ids[ind]
                      %span{style: "color:grey;font-size:small;width:75px;display:inline-block;"}= relation_to_human(matched_relations_ids[ind])
                    - else
                      %span{style:"color:grey;text-decoration:line-through;"}
                        = profile.name.name.mb_chars.capitalize





    = render 'users/login_list'
