-#
-#%p
-#  BK_массив: @bk_arr: #{@bk_arr.inspect}
-#%p
-#  @circle: #{@circle.inspect}


.content
  %h1
    = current_user.profile.name.name.mb_chars.capitalize
    \, это ваш ближний круг,
    -# = current_user.id

  %table.tmp_table
    %tr
      %th Родственное отношение к вам
      %th Имя родственника
      %th
    - @tree_arr.each_with_index do |item, index|
      %tr
        %td= relation_to_human(item[3]) #{@tree_arr.inspect}
        %td= link_to Name.find(item[5]).name.mb_chars.capitalize, edit_profile_path(item[4])
        %td
          .dropdown
            %a{href:'#', onclick:"toggleDropDownMenu(this);return false;"}
              = fa_icon 'caret-square-o-down'
            %ul.closed
              %li= link_to "Добавить родственника", new_profile_path(target_relation_id: item[3], target_profile_id: item[4])
              %li= link_to "Изменить", edit_profile_path(item[4])
              %li= link_to "Общаться", '#', class: :grey
              %li= link_to "В избранные", '#', class: :grey
  %div{style: "margin-top:50px;"}
    - if @all_match_arr_sorted.nil?
      %h1 Совпадений не найдено
    - else
      %h1 Вы или ваши родственники найдены в деревьях следующих людей:

      %table.tmp_table
        %tr
          %th Автор дерева
          %th
            Ближний круг автора, в котором
            %span.green возможно
            присутствуют ваши родственники:


        - @all_match_arr_sorted.each do |key, value|
          - user = User.where(id: key).first
          %tr
            %td
              %h2= user.name.mb_chars.capitalize

            %td
              %table.results_table
                - user.trees.each do |tree|
                  - profile = Profile.where(id: tree.is_profile_id).first
                  %tr
                    %td.grey= relation_to_human(tree.relation_id)
                    %td.name= profile.name.name.mb_chars.capitalize
                    %td.green.italic
                      - if @all_match_arr_sorted[user.id].include? profile.id
                        = relation_to_human( @all_match_relations_sorted[user.id][ @all_match_arr_sorted[user.id].index(profile.id) ], prefix: true )
                    %td
                      - if profile.user.present?
                        = link_to 'Пожать руку', '#', onclick: "alert('Пожать руку с user_id: #{profile.user.id}')"






    = render 'users/login_list'
