%section.admin
  %h3 Страница Просмотра и подтверждения совпадений родственников в Древе Пользователя
  %div
    %p
      @current_user_profile: #{@current_user_profile.inspect}
    %p
      @current_user_profile_sex: #{@current_user_profile_sex.inspect}
    %p
      @author_arr: #{@author_arr.inspect}
    %p
      @triplex_arr: #{@triplex_arr.inspect}
    %p
      -#@father_author_profile_id: #{@father_author_profile_id.inspect}
    %p
      Новых подтверждений: @new_approved_qty: #{@new_approved_qty.inspect}
    %p
      Всего подтверждено: @total_approved_qty: #{@total_approved_qty.inspect}
    %p
      Осталось неподтвержденных: @rest_to_approve: #{@rest_to_approve.inspect}
  %h4
    Переход на Главную страницу:  #{link_to "Главная -->", main_page_path}
