%section.admin
  %h3 Просмотр и Подтверждение совпадений родственников в Древе Пользователя
  %div
    %p
      @session_id: #{@session_id.inspect}
    %p
      @navigation_var: #{@navigation_var.inspect}
    %p
      Новых подтверждений: @new_approved_qty: #{@new_approved_qty.inspect}
    %p
      Всего подтверждено: @total_approved_qty: #{@total_approved_qty.inspect}
    %p
      Осталось неподтвержденных: @rest_to_approve: #{@rest_to_approve.inspect}
  %p
    Возврат на Главную страницу:  #{link_to "Возврат на Главную -->", main_path}
  %p
    Переход на страницу Старт:  #{link_to "Переход на Старт -->", start_path}
