<section class="admin">

  <div>
    <p>@session_id: <%= @session_id.inspect %></p>
    <p>@navigation_var: <%= @navigation_var.inspect %></p>
    <p>@menu_choice: <%= @menu_choice.inspect %></p>
  </div>


  <h3> Partial RELATIVE_MENU - отображение меню напротив выбранного родственника в дереве </h3>

  <h4> Переход на Страницу EDIT RELATIVE INFO - изменить, дополнить данные о родственнике <%= link_to "Редактировать -->", main_page_path %>  </h4>
  <h4> Переход на Страницу ADD NEW RELATIVE - добавить нового родственника к выбранному <%= link_to "Добавить родственника (профиль) -->", main_page_path %> </h4>
  <h4> Переход на Страницу TALK WITH RELATIVE - общаться с родственником <%= link_to "Общаться -->", conversation_path %> </h4>
  <h4> Переход на Страницу MARK RELATIVE FAVORITE - добавить родственника в избранные <%= link_to "Добавить в избранные -->", main_page_path %> </h4>
  <h4> Переход на Страницу INVITE - пригласить родственника на сайт <%= link_to "Пригласить -->", main_page_path %> </h4>

  <div>
    <p>@menu_choice: <%= @menu_choice.inspect %></p>
  </div>



  <p>Возврат на Главную страницу:  <%= link_to "Возврат на Главную -->", main_page_path %> </p>

  <p>Переход на страницу Старт:  <%= link_to "Переход на Старт -->", start_enter_myself_path %> </p>



</section>
