%section.admin
  %div
    -#%p
    -#  @session_id: #{@session_id.inspect}
    -#%p
    -#  @navigation_var: #{@navigation_var.inspect}
    %p
      @menu_choice: #{@menu_choice.inspect}
  %h3 Меню Профиля: Partial RELATIVE_MENU - отображение меню напротив выбранного родственника в дереве
  %h4
    Переход на Страницу EDIT RELATIVE INFO - изменить, дополнить данные о родственнике #{link_to "Редактировать -->", main_page_path}
  %h4
    Переход на Страницу ADD NEW RELATIVE - добавить нового родственника к выбранному #{link_to "Добавить родственника (профиль) -->", main_page_path}
  %h4
    Переход на Страницу TALK WITH RELATIVE - общаться с родственником #{link_to "Общаться -->", conversation_path}
  %h4
    Переход на Страницу MARK RELATIVE FAVORITE - добавить родственника в избранные #{link_to "Добавить в избранные -->", main_page_path}
  %h4
    Переход на Страницу INVITE - пригласить родственника на сайт #{link_to "Пригласить -->", main_page_path}
  %div
    %p
      @menu_choice: #{@menu_choice.inspect}
  %h4
    Переход на Главную страницу:  #{link_to "Главная -->", main_page_path}
