<section class="admin">

  <div>
    <p>@session_id: <%= @session_id.inspect %></p>
    <p>@navigation_var: <%= @navigation_var.inspect %></p>
    <p>@menu_choice: <%= @menu_choice.inspect %></p>
  </div>


  <h3> Partial RELATIVE_MENU - отображение меню напротив выбранного родственника в дереве </h3>

  <h4> Переход на Страницу EDIT RELATIVE INFO - изменить, дополнить данные о родственнике link_to <%=  "EDIT RELATIVE INFO"%> , names_path </h4>
  <h4> Переход на Страницу ADD NEW RELATIVE - добавить нового родственника к выбранному <%=  "ADD NEW RELATIVE" %> </h4>
  <h4> Переход на Страницу TALK WITH RELATIVE - общаться с родственником <%=  "TALK WITH RELATIVE" %> </h4>
  <h4> Переход на Страницу MARK RELATIVE FAVORITE - добавить родственника в избранные <%=  "MARK RELATIVE FAVORITE" %> </h4>

  <div>
    <p>@menu_choice: <%= @menu_choice.inspect %></p>
  </div>



  <p>Возврат на Главную страницу:  <%= link_to "Возврат на Главную -->", pages_main_path %> </p>

  <p>Переход на страницу Старт:  <%= link_to "Переход на Старт -->", pages_start_path %> </p>



</section>
