<h2> Метод enter_mother, Страница START - ввод стартового дерева - Ближний Круг </h2>

<div>
  <!--<p>@sel_names: <%= @sel_names.inspect %></p>-->
  <!--<p>@sel_names_male: <%= @sel_names_male.inspect %></p>-->
  <!--<p>@sel_names_female: <%= @sel_names_female.inspect %></p>-->
  <p>@navigation_var: <%= @navigation_var.inspect %></p>
  <p>@tree_array: <%= @tree_array.inspect %></p>
</div>


<h3> Ввод информации о МАТЕРИ стартового дерева  </h3>
<%= form_tag({ :controller => "start", :action => "mother_store"}) do %>
    <div>
      <h4>3.Имя Матери </h4>
      <%= label_tag 'Введи имя Матери:' %>
      <div >
        <%= select_tag 'mother_name_select', options_for_select(@sel_names_female, selected = @mother_name),  :prompt => 'Выбери имя' %>
      </div>
    </div>
    <%= submit_tag 'Ввод' %>
<% end %>


<p>Имя матери: @user_name: <%= @user_name.inspect %>, я - <%= @user_sex.inspect %> </p>
<p>@user_sex: <%= @user_sex.inspect %></p>
