%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Counter
      %th Dublicates
  %tbody
    - @names.each do |name|
      %tr
        - name.each do |key, value|
          %td= key
          %td= value['counter']
          %td
            - value['dublicates'].each do |name|
              %li= "#{name.name}, id: #{name.id}, sex_id: #{name.sex_id}"
