.page-header
  %h2
    Имена
    = link_to "Добавить", new_admin_name_path, class: 'btn btn-default pull-right'



- if action_name == 'duplicates'
  = render 'tabs'
  = render 'table_duplicates'
- else
  = paginate @names, :theme => 'admin'
  = render 'tabs'
  = render 'table'
  = paginate @names, :theme => 'admin'
