= form_for @message do |f|
  - if @message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@message.errors.count, "error")} prohibited this message from being saved:"
      %ul
        - @message.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :text
    = f.text_area :text
  .field
    = f.label :sender_id
    = f.number_field :sender_id
  .field
    = f.label :receiver_id
    = f.number_field :receiver_id
  .field
    = f.label :read
    = f.check_box :read
  .field
    = f.label :sender_deleted
    = f.check_box :sender_deleted
  .field
    = f.label :receiver_deleted
    = f.check_box :receiver_deleted
  .actions
    = f.submit 'Save'
