.container#messages
  %h1 Отправить новое сообщение

  = form_tag send_new_message_path, class: 'default-form messages' do
    .row
      %label
        Кому:
        %select{name: 'receiver_id'}
          - User.where(id: current_user.get_connected_users.delete_if{|id| id == current_user.id}).each do |user|
            %option{value: user.id, selected: user.id.to_s==params[:receiver_id]}=user.profile.to_name

    .row
      = label_tag 'Сообщение: '
      = text_area_tag 'text', '', :maxlength => 100, :size => 100
    .row
      = submit_tag 'Отправить', class: [:bttn, :green]


  %br
  %br
  = link_to 'Смотреть все диалоги:', messages_path
  %br
  %br
  = link_to 'К просмотру твоего дерева', home_path
