




%br
%br
%h1 Сообщения одного Юзера (Listing Agents) -
%br
- if !@talks_and_messages.blank?

  - @talks_and_messages.each do |one_talk_arr|
    - if !one_talk_arr.blank?
      %div
        %table
          %tr
            %th User_Id
            %th

          - one_talk_arr.each do |user_id, user_talk_arr|
            %tr
              %td= user_id
              %td= link_to 'Отправить     - send_message', send_message_path

              - if !user_talk_arr.blank?
                %div
                  %table
                    %tr
                      %th Id Msg
                      %th Text
                      %th Sender
                      %th Receiver
                      %th Read
                      %th Sender_deleted
                      %th Receiver_deleted
                      %th
                      %th
                      %th
                      - user_talk_arr.each do |one_talk_messages|
                        %tr
                        %td= one_talk_messages.values_at(:message_id).flatten[0]
                        %td= one_talk_messages.values_at(:text).flatten[0]
                        %td= one_talk_messages.values_at(:sender_id).flatten[0]
                        %td= one_talk_messages.values_at(:receiver_id).flatten[0]
                        %td= one_talk_messages.values_at(:read).flatten[0]
                        %td= one_talk_messages.values_at(:sender_deleted).flatten[0]
                        %td= one_talk_messages.values_at(:receiver_deleted).flatten[0]
                        %td= link_to 'Прочитать', "read_message", class: :messages
                        %td= link_to 'Удалить', "delete_message", class: :messages
                        %td= link_to 'Cпам', "spam_message",  class: :messages
              - else
                %h4 No Listing one_talk_messages!
    - else
      %h4 No Listing @talks_and_messages!

- else
  %h4 No Listing @talks_and_messages!


%br
%br
%br


= link_to 'New Message', make_messages_path
