- if !@message.blank?

  %p#notice= notice

  %p
    %b Text:
    = @message.text
  %p
    %b Sender:
    = @message.sender_id
  %p
    %b Receiver:
    = @message.receiver_id
  %p
    %b Read:
    = @message.read
  %p
    %b Sender deleted:
    = @message.sender_deleted
  %p
    %b Receiver deleted:
    = @message.receiver_deleted

  = link_to 'Edit', edit_message_path(@message)
  \|
  = link_to 'Back', messages_path
