
%p
  @current_user.id = #{current_user.id.inspect}
%p
  @new_messages_count = #{@new_messages_count.inspect}
%br
%h1 ДИАЛОГ ВЫБРАННОГО ЮЗЕРА (show_one_dialoge: Listing Dialoge w/One User )
%br
- if !@talks_and_messages.blank?

  - @talks_and_messages.each do |one_talk_arr|
    - if !one_talk_arr.blank?
      %div
        %table
          %tr
            %th User_Id
            %th
            %th

          - one_talk_arr.each do |user_id, user_talk_arr|
            %td= user_id
            %td= link_to 'Написать сообщение .', send_message_path(receiver_id: user_id),  class: :messages
            %br
            %td= link_to 'Cпам - пометить диалог .', spam_dialoge_path(user_id: user_id),  class: :messages
            %li
            - if !user_talk_arr.blank?
              %table
                %tr
                %tr
                  %th Id Msg
                  %th Text
                  %th Sender
                  %th Receiver
                  %th Read
                  %th Sender_deleted
                  %th Receiver_deleted
                  %th
                  %th
                - user_talk_arr.each do |one_talk_messages|
                  %tr
                  %td= one_talk_messages.values_at(:message_id).flatten[0]
                  %td= one_talk_messages.values_at(:text).flatten[0][0..9]
                  %td= one_talk_messages.values_at(:sender_id).flatten[0]
                  %td= one_talk_messages.values_at(:receiver_id).flatten[0]
                  %td= one_talk_messages.values_at(:read).flatten[0]
                  %td= one_talk_messages.values_at(:sender_deleted).flatten[0]
                  %td= one_talk_messages.values_at(:receiver_deleted).flatten[0]
                  %td= link_to 'Прочитать', read_message_path(message_id: one_talk_messages.values_at(:message_id).flatten[0]), class: :messages
                  %td= link_to 'Удалить сообщение .', delete_message_path(message_id: one_talk_messages.values_at(:message_id).flatten[0]), class: :messages
            - else
              %h4 No Listing user_talk_arr!
    - else
      %h4 No Listing one_talk_arr!

- else
  %h4 No Listing @talks_and_messages!

%br

= link_to 'Смотреть все диалоги:', show_all_dialoges_path

-#
-#%p
-#  @@new_mail_count = #{@new_mail_count.inspect}
