.container#messages
  %h1 Диалог с #{@display_receiver_name}
  -#%h2 При открывании диалога все нечитанные сообщения - читаются
  %p
    @current_user.id = #{current_user.id.inspect};
  -#  @new_messages_count = #{@new_messages_count.inspect}

  - if @talks_and_messages.blank?
    %table
      %tr
        %td.left.grey.italic
          Сообщений - нет.
  - else
    - @talks_and_messages.each do |one_talk_arr|
      %table
        %tr
          %td.left.grey.italic
          %th
          %th
          %th
          - one_talk_arr.each do |user_talk_id, user_talk_arr|
            %tr
              %td.left.grey.italic
              %td= link_to 'Написать сообщение .', send_message_path(receiver_id: user_talk_id),  class: :messages
              %td= link_to 'Cпам - пометить диалог .', spam_dialoge_path(user_id: user_talk_id),  class: :messages
              %td= link_to 'Удалить весь диалог с этим Юзером .', delete_one_dialogue_path(user_talk_id: user_talk_id ), method: :post, remote: true, class: :messages

              = render 'messages/show_dialoge',  :user_talk_id => user_talk_id, :user_talk_arr => user_talk_arr, :one_dialoge_length => @one_dialoge_length


  %br
  = link_to 'Написать новое сообщение.',  send_message_path(receiver_id: nil)
  %br
  %br
  = link_to 'Смотреть все диалоги:', messages_path
  %br
  %br
  = link_to 'К просмотру твоего дерева', home_path

