.col_1_2
  .control
    = f.label "Имя"
    = text_field_tag :name, @profile.to_name, disabled: :disable

  .control
    = f.label "Отчество"
    = f.text_field :middle_name

  .control
    = f.label "Фамилия"
    = f.text_field :last_name

  .control.about
    = f.label "Биография"
    = f.text_area :biography
