.content.profile-form
  %h2
    Добавить
    = YandexInflect.inflections( relation_to_human(@profile.relation_id) )[3]["__content__"]
    для
    = YandexInflect.inflections( @base_profile.full_name )[1]["__content__"]

  = render 'shared/ui/flash'

  = form_for @profile, remote: true do |f|
    = hidden_field_tag :base_profile_id, params[:base_profile_id]
    = hidden_field_tag :base_relation_id, params[:base_relation_id]
    = f.hidden_field :relation_id
    .control
      = text_field_tag "profile[name]", @profile.to_name, class: [:autocomplete_field], placeholder: "Имя...", data:{names: Name.approved.map{|n| n.name.mb_chars.capitalize } }
    .control.align-right
      = link_to 'Отмена', '#cancel', onclick: "hideOverlay();", class: [:btn, :grey]
      = f.submit "Добавить", class: [:btn, :green]
