%section.admin
%h2 Страница вода наименования электронной почты:

%p
  Profile: @profile_id = #{@profile_id.inspect}
-#%p
-#  @email_text: = #{@email_text.inspect}

%br

  = form_tag do
    = label_tag 'Введи Электронную почту приглашаемого Профиля: '
    = text_field_tag 'profile_email', '', :placeholder => @email_name, :maxlength => 25, :size => 25
    %li
    -#= label_tag 'Введи текст сообщения (text):'
    -#= text_field_tag 'email_text', '', :maxlength => 250, :size => 250
    -#%li
    = submit_tag 'Отправить сообщение (Ввод)'

%p
  Profile Email: @email_name = #{@email_name.inspect}


- if !@email_name.blank?
  = render 'weafam_mailer/invitation'



%br
= link_to 'Возврат к Просмотру вашего дерева', home_path,  class: :request
