

<section class="admin">

<h1>Listing profiles</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Email</th>
      <th>Sex_id</th>
      <th>Avatar_id</th>
      <th>Country_id</th>
      <th>City_id</th>
      <th>Birthday</th>
      <th>About</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.id %></td>
        <td><%= profile.user_id %></td>
        <td><%= profile.name_id %></td>
        <td><%= profile.surname %></td>
        <td><%= profile.email %></td>
        <td><%= profile.sex_id %></td>
        <td><%= profile.avatar_id %></td>
        <td><%= profile.country_id %></td>
        <td><%= profile.city_id %></td>
        <td><%= profile.profile_birthday %></td>
        <td><%= profile.about %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>

<p>Возврат на страницу Админа:  <%= link_to "Возврат к Админу -->", pages_admin_path %> </p>

</section>
