#profile
  .header
    = image_tag 'profile-default.png', class: "avatar"
    %h1
      Добавить родственника для
      = relation_to_human(params[:base_relation_id], prefix: true)
      = @base_profile.to_name

  .col_0_1_0.content


    = form_for @profile do |f|
      = hidden_field_tag :base_profile_id, params[:base_profile_id]
      = hidden_field_tag :base_relation_id, params[:base_relation_id]
      .control
        = f.label "Кого добавить (тип отношений):"
        = select_tag "profile[relation_id]", options_for_select( Relation.to_hash.map {|r| [r.last[:title], r.last[:id]]}, @profile.relation_id )
      .control
        = text_field_tag "profile[name]", @profile.to_name, class: [:autocomplete_field], placeholder: "Имя...", data:{names: Name.approved.map{|n| n.name.mb_chars.capitalize } }
      .control
        = f.submit "Добавить", class: [:btn, :green]
