%table.table.table-striped
  %thead
    %tr
      %th #
      %th Событие
      %th Время (Т), мсек
      %th Код
      %th Профили - в поиске
      %th Профили - в дереве
      %th Профили - всего
      %th Т ср./профиль, мсек
      %th Состав дерева
      %th Дата
      %th
      %th
  %tbody
    - @search_service_logs.each do |search_row|
      %tr
        %td= search_row.id
        %td= search_row.name
        %td= search_row.time
        %td= search_row.search_event
        %td= search_row.searched_profiles
        %td= search_row.all_tree_profiles
        %td= search_row.all_profiles
        %td= search_row.ave_profile_search_time
        %td= search_row.connected_users
        -#%td= stat.created_at.strftime("%d-%b-%Y %H:%M")
        %td= localize(search_row.created_at, :format => :long)
        %td= link_to 'Show', admin_search_service_log_path(search_row)
        %td= link_to 'Destroy', admin_search_service_log_path(search_row), :method => :delete, :data => { :confirm => 'Are you sure?' }

