<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String"># ID</Data></Cell>
        <Cell><Data ss:Type="String">Дата</Data></Cell>
        <Cell><Data ss:Type="String">Событие</Data></Cell>
        <Cell><Data ss:Type="String">Время T, сек</Data></Cell>
        <Cell><Data ss:Type="String">Код</Data></Cell>
        <Cell><Data ss:Type="String">Профили - в поиске</Data></Cell>
        <Cell><Data ss:Type="String">Профили - в дереве</Data></Cell>
        <Cell><Data ss:Type="String">Профили - всего</Data></Cell>
        <Cell><Data ss:Type="String">Т ср./профиль, сек</Data></Cell>
        <Cell><Data ss:Type="String">Состав дерева</Data></Cell>
      </Row>
      <% @search_service_logs.each do |search_row| %>
          <Row>
            <Cell><Data ss:Type="Number"><%= search_row.id %></Data></Cell>
            <Cell><Data ss:Type="Data">  <%= search_row.created_at.strftime("%d-%b-%Y %H:%M") %></Data></Cell>
            <Cell><Data ss:Type="String"><%= search_row.name %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= search_row.time %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= search_row.search_event %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= search_row.searched_profiles %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= search_row.all_tree_profiles %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= search_row.all_profiles %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= search_row.ave_profile_search_time %></Data></Cell>
            <Cell><Data ss:Type="Array"><%= search_row.connected_users %></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
