- resource.email = session[:current_author].try(:email)
.col_1_2
  #welcome-form
    = render 'welcome/breadcrumb'

    = form_for(resource, as: resource_name, url: user_registration_path, html: {class: "form-horizontal", id: "welcome_form"}) do |f|
      = devise_error_messages!
      .body
        .fields
          = f.label :email, class: "control-label col-md-4"
          .col-md-8
            = f.email_field :email, class: "text-field form-control", html: {spellcheck: "false"}
        .fields
          = f.label :password, class: "control-label col-md-4"
          .col-md-8
            = f.password_field :password, class: "text-field form-control", html: {autocomplete: "off"}
        .form-group
          = f.label :password_confirmation, "Password Confirmation", class: "control-label col-md-4"
          .col-md-8
            = f.password_field :password_confirmation, class: "text-field form-control", html: {autocomplete: "off"}
      .footer
        .form-group
          .col-md-offset-4.col-md-8
            = f.submit "Зарегистрироватьcя", class: "btn green"
