%section.admin

%h3
  ПРОЦЕСС ОБЪЕДИНЕНИЯ ДВУХ ДЕРЕВЬЕВ

%p
  Кто хочет соединиться: Автор: #{@current_user_id.inspect}
%p
  @who_connect_users_arr: #{@who_connect_users_arr.inspect}
-#%p
-#  @first_tree: #{@first_tree.inspect}
%p
  Выбран Юзер, с кем Автор хочет соединиться (из вьюхи): #{@with_user_id.inspect}
%p
  @with_whom_connect_users_arr: #{@with_whom_connect_users_arr.inspect}

- if !@all_connection_requests.blank?

  %h1 Listing connection_requests

  %table
    %tr
      %th User
      %th With user
      %th Confirm
      %th Done
      %th Created_at
      %th
      %th
      %th

    - @all_connection_requests.each do |connection_request|
      %tr
        %td= connection_request.user_id
        %td= connection_request.with_user_id
        %td= connection_request.confirm.inspect
        %td= connection_request.done
        %td= connection_request.created_at.inspect
        %td= link_to 'Show', connection_request
        %td= link_to 'Edit', edit_connection_request_path(connection_request)
        %td= link_to 'Destroy', connection_request, :method => :delete, :data => { :confirm => 'Are you sure?' }
        %br
        %td= link_to 'Просмотр одного из сущ-х запросов', show_one_request_path(with_user_id: connection_request.with_user_id),  class: :request





= link_to 'Просмотр создаваемого запроса', show_one_request_path(with_user_id: @with_user_id),  class: :request
