.container#requests
  %h1 Ваши запросы на объединение

  %h2
    %span.green &darr;
    Входящие
    %span.grey (ожидают вашего решения)

  - if @requests_to_user_data.empty?
    %table
      %tr
        %td.left.grey.italic
          К вам пока не поступало запросов на объединение от других деревьев...
  - else
    %table
      %tr
        %th #
        %th От кого
        %th Статус
        %th Дата создания запроса
        %th Действия
      - @requests_to_user_data.each do |connection_request, data_hash|
        %tr
          %td= connection_request
          %td= User.find( data_hash.values_at(:request_from_user_id).flatten[0] ).name
          %td= data_hash.values_at(:done).flatten[0] ? 'выполнен' : 'ожидает...'
          %td= data_hash.values_at(:created_at).flatten[0]
          %td= link_to 'Посмотреть запрос', show_one_request_path(connection_id: connection_request, user_id: data_hash.values_at(:request_from_user_id).flatten[0]),  class: :request




  %h2
    %span.red &uarr;
    Исходящие
    %span.grey (отправленные Вами запросы к другим деревьям)

  - if @user_requests_data.empty?
    %table
      %tr
        %td.left.grey.italic
          Вы еще не отправляли запросы на объединение с другими деревьями...
  - else
    %table
      %tr
        %th #
        %th Объединиться с:
        -#%th Confirm
        %th Статус
        %th Дата создания запроса
        %th Действия
      - @user_requests_data.each do |connection_request, data_hash|
        %tr
          %td= connection_request
          %td= User.find( data_hash.values_at(:request_to_user_id).flatten[0]).name
          -#%td= data_hash.values_at(:confirm).flatten[0].inspect
          %td= data_hash.values_at(:done).flatten[0] ? 'выполнен' : 'ожидает...'
          %td= data_hash.values_at(:created_at).flatten[0]
          %td= link_to 'Посмотреть запрос', show_one_request_path(connection_id: connection_request, with_user_id: data_hash.values_at(:request_to_user_id).flatten[0]),  class: :request
          %br
