
%p
  @current_user.id = #{current_user.id.inspect}
-#%p
-#  @with_user_id = #{@with_user_id.inspect}
%p
  @new_requests_count = #{@new_requests_count.inspect}
-#%p
-#  @connection_id = #{@connection_id.inspect}
-#%p
-#  @id = #{@id.inspect}

%br
%h1 СТРАНИЦА демонстрации запросов на ОБЪЕДИНЕНИе текущего юзера (show_requests_for_user)
%br

-#%h1 КТО ОБЪЕДИНЯЕТСЯ: @who_connect_users_arr = #{@who_connect_users_arr.inspect}
-#
-#%h1 С КЕМ ОБЪЕДИНЯЕТСЯ: @with_whom_connect_users_arr = #{@with_whom_connect_users_arr.inspect}

%h1 Listing @user_requests

%table
  %tr
    %th id
    %th Connection_id
    %th От кого запрос
    %th With_user
    %th Confirm
    %th Done
    %th Time
    %th
    %th

  - @user_requests.each do |user|
    %tr
      %td= user.id
      %td= user.connection_id
      %td= user.user_id
      %td= user.with_user_id
      %td= user.confirm
      %td= user.done
      %td= user.read_attribute_before_type_cast(:created_at).to_s
      %td= link_to 'Запросу - ДА', yes_connect_path(yes_user_id: user)
      %td= link_to 'Запросу - НЕТ', no_connect_path(no_user_id: user)
      %br

%br
%p
  @user_requests = #{@user_requests.inspect}

%p
  @user_requests_data = #{@user_requests_data.inspect}
%p
  @prof = #{@prof.inspect}
%p
  @prof_date = #{@prof_date.inspect}
%p
  @prof_date2 = #{@prof_date2.inspect}
%p
  @prof_name = #{@prof_name.inspect}

= link_to 'Просмотр одного запроса', show_one_request_path(with_user_id: @with_user_id),  class: :request

-#= link_to 'Connection request', connection_requests_path

