
%p
  @current_user.id = #{current_user.id.inspect}
%p
  @with_user_id = #{@with_user_id.inspect}
%p
  @new_requests_count = #{@new_requests_count.inspect}
%p
  @connection_id = #{@connection_id.inspect}
%p
  @id = #{@id.inspect}

%br
%h1 СТРАНИЦА ПРОЦЕССА ОБЪЕДИНЕНИЯ ДВУХ ДЕРЕВЬЕВ (show_one_request)
%br
-
%h1 КТО ОБЪЕДИНЯЕТСЯ: @who_connect_users_arr = #{@who_connect_users_arr.inspect}

%h1 С КЕМ ОБЪЕДИНЯЕТСЯ: @with_whom_connect_users_arr = #{@with_whom_connect_users_arr.inspect}

%h1 Listing connection_requests

%table
  %tr
    %th id
    %th Connection_id
    %th User
    %th
    %th

  - @with_whom_connect_users_arr.each do |user|
    %tr
      %td= @id
      %td= @connection_id
      %td= user
      %td= link_to 'ДА', yes_connect_path(yes_user_id: user)
      %td= link_to 'НЕТ', no_connect_path(no_user_id: user)
      %br

%br

-#%p
-#  @yes_user_id = #{@yes_user_id.inspect}
-#  @no_user_id = #{@no_user_id.inspect}

= link_to 'Просмотр одного запроса', show_one_request_path(with_user_id: @with_user_id),  class: :request

= link_to 'Connection request', connection_requests_path



