
%p
  Дата и Время:
  =  l Time.now, format: :myformat
%br

%h1 СТРАНИЦА демонстрации всех запросов на ОБЪЕДИНЕНИЕ
%br

%br
%p Справочно:
%p @current_user.id = #{current_user.id.inspect}
%p кол-во новых запросов: @new_requests_count = #{@new_requests_count.inspect}

%br
%h1 Полученные Вами НОВЫЕ запросы на объединение - в ожидании Вашего решения
%br
- if !@requests_to_user.blank?
  %table
    %tr
      -#%th id
      %th Connection_id
      %th От кого запрос
      -#%th With_user
      %th Confirm
      %th Статус
      %th Дата создания запроса
      %th

    - @requests_to_user.each do |user|
      %tr
        -#%td= user.id
        %td= user.connection_id
        %td= user.user_id
        -#%td= user.with_user_id
        %td= user.confirm.inspect
        %td= user.done
        %td= user.read_attribute_before_type_cast(:created_at).to_s
        %td= link_to 'Просмотр одного запроса', show_one_request_path(connection_id: user.connection_id, with_user_id: user.user_id),  class: :request
        %br

  -#%p @requests_to_user_data = #{@requests_to_user_data.inspect}
  %br
%br

%h1 Все созданные Вами запросы - в ожидании на объединение
%br
- if !@user_requests_data.empty?
  %table
    %tr
      %th Connection_id
      -#%th User
      %th Объединиться с:
      %th Confirm
      %th Статус
      %th Дата создания запроса
      %th

    - @user_requests_data.each do |connection_request, data_hash|
      %tr
        %td= connection_request
        -#%td= data_hash.values_at(:request_from_user_id).flatten[0]
        %td= data_hash.values_at(:request_to_user_id).flatten[0]
        %td= data_hash.values_at(:confirm).flatten[0].inspect
        %td= data_hash.values_at(:done).flatten[0]
        %td= data_hash.values_at(:created_at).flatten[0]
        %td= link_to 'Просмотр одного запроса', show_one_request_path(connection_id: connection_request, with_user_id: data_hash.values_at(:request_to_user_id).flatten[0]),  class: :request



-#= link_to 'Connection request', connection_requests_path

