%section.admin
  %h1 Listing relations
  %table
    %thead
      %tr
        %th ID
        %th Relation
        %th
        %th
        %th
    %tbody
      - @relations.each do |relation|
        %tr
          %td= relation.id
          %td= relation.relation
          %td= link_to 'Show', relation
          %td= link_to 'Edit', edit_relation_path(relation)
          %td= link_to 'Destroy', relation, method: :delete, data: { confirm: 'Are you sure?' }
  %br/
  = link_to 'New Relation', new_relation_path
  %p
    Возврат на страницу Админа:  #{link_to "Возврат к Админу -->", pages_admin_path}
