%section.admin

%h3
  ПРОЦЕСС ОБЪЕДИНЕНИЯ ДВУХ ДЕРЕВЬЕВ

%p
  IN connect_trees: @msg: #{@msg.inspect}
%p
  IN connection_of_trees: who_found_user_id = @current_user_id: #{@current_user_id.inspect}
%p
  IN connection_of_trees: where_found_user_id = @user_id: #{@user_id.inspect}
%p
  IN get_connected_users: @connected_users_arr #{@connected_users_arr.inspect}


%p
  IN connection_of_trees: @matched_profiles_hash: #{@matched_profiles_hash.inspect}
%p
  IN connection_of_trees: @matched_relations_hash: #{@matched_relations_hash.inspect}
%p
  IN connection_of_trees: @matched_profiles_in_tree: #{@matched_profiles_in_tree.inspect}
%p
  IN connection_of_trees: @matched_relations_in_tree: #{@matched_relations_in_tree.inspect}
%p
  IN connection_of_trees: @first_tree: #{@first_tree.inspect}
%p
  IN connection_of_trees: @second_tree: #{@second_tree.inspect}


%p
  IN connect_trees


%p
  IN get_opposite_profiles
%p
  @who_connect: #{@who_connect.inspect}
%p
  @who_connect_users_arr: #{@who_connect_users_arr.inspect}
%p
  @with_whom_connect: #{@with_whom_connect.inspect}
%p
  @with_whom_connect_users_arr: #{@with_whom_connect_users_arr.inspect}


%p
  @matched_profiles_arr: #{@match_profiles_arr.inspect}
-#%p
-#  @one_profile: #{@one_profile.inspect}
-#%p
-#  @where_found_tree_row: #{@where_found_tree_row.inspect}
%p
  @opposite_profiles_arr: #{@opposite_profiles_arr.inspect}


%p
  @profiles_to_rewrite: #{@profiles_to_rewrite.inspect}
%p
  @profiles_to_destroy: #{@profiles_to_destroy.inspect}
%p
  @rewrite_tree_arr1: #{@rewrite_tree_arr1.inspect}
%p
  @rewrite_tree_arr2: #{@rewrite_tree_arr2.inspect}
%p
  @rewrite_profilekey_arr1: #{@rewrite_profilekey_arr1.inspect}
%p
  @rewrite_profilekey_arr2: #{@rewrite_profilekey_arr2.inspect}

%p
  @save_in_tree: #{@save_in_tree.inspect}
%p
  @save_in_tree_LEN: #{@save_in_tree_LEN.inspect}
%p
  @save_in_profilekey: #{@save_in_profilekey.inspect}
%p
  @save_in_profilekey_LEN: #{@save_in_profilekey_LEN.inspect}









