%section.admin

%h3
  ПРОЦЕСС ОБЪЕДИНЕНИЯ ДВУХ ДЕРЕВЬЕВ
%p
  @stop_connection: #{@stop_connection.inspect}


- if !@stop_connection
  %h1 Дубликатов нет. Деревья объединяются...

- else
  %h1 Деревья объединить нельзя! ...
  %h1 Информация при объединении деревьев:
  #{@connection_message}
  %br/
  = @complete_dubles_hash
  %br/
  %br/
  = @test_arrrs_blank


- if Rails.env == 'development'
  = render 'debugger'
