%section.admin

%h3
  ПРОЦЕСС ОБЪЕДИНЕНИЯ ДВУХ ДЕРЕВЬЕВ
%p
  @stop_connection: #{@stop_connection.inspect}


- if !@stop_connection
  %h1 Дубликатов нет. Деревья можно объединять.

  -#= link_to "Объединиться с ", connection_of_trees_path( user_id_to_connect: result[:found_tree_id], certain_koeff: @certain_koeff), class: :green




- else
  %h1 Деревья объединить нельзя! ...
  %h1 Информация при объединении деревьев:
  #{@connection_message}
  %br/
  = @complete_dubles_hash
  %br/
  %br/
  = @test_arrrs_blank


- if Rails.env == 'development'
  = render 'debugger'

-#= link_to 'Просмотр одного запроса', show_one_request_path(with_user_id: @with_user_id),  class: :request
