%section.admin

%h3
  ПРОЦЕСС ОБЪЕДИНЕНИЯ ДВУХ ДЕРЕВЬЕВ

%p
  Кто хочет соединиться: Автор: #{@current_user_id.inspect}
%p
  @who_connect_users_arr: #{@who_connect_users_arr.inspect}
%p
  @first_tree: #{@first_tree.inspect}
%p
  Выбран Юзер, с кем Автор хочет соединиться (из вьюхи): #{@user_id.inspect}
%p
  @with_whom_connect_users_arr: #{@with_whom_connect_users_arr.inspect}
%p
  @second_tree: #{@second_tree.inspect}

%h4
  Запуск Жесткого ПОИСКА:
%h4
  ВСЕ wide СОВПАДЕНИЯ РОДНЫХ : @final_reduced_profiles_hash: #{@final_reduced_profiles_hash.inspect}
%h4
  ВСЕ wide НАЙДЕННЫЕ НОМЕРА ОТНОШЕНИй: @final_reduced_relations_hash: #{@final_reduced_relations_hash.inspect}
%p
  Длительность поиска: #{@elapsed_search_time.inspect}

%h4
  Определение массивов ПЕРЕЗАПИСИ ПРОФИЛЕЙ:

%p
  @final_trees_search_results_arr: #{@final_trees_search_results_arr.inspect}

%h4
  Хэш и Массивы перезаписи, найденные в ПОИСКЕ и ОБЪЕДИНЕНИИ
-#%p
-#  ВИД ПОИСКА: @type_search_message: #{@type_search_message.inspect}
%p
  @final_hard_profiles_to_connect_hash: #{@final_hard_profiles_to_connect_hash.inspect}
%p
  @final_pos_profiles_arr: #{@final_pos_profiles_arr.inspect}
%p
  @final_profiles_searched_arr: #{@final_profiles_searched_arr.inspect}
%p
  @final_profiles_found_arr: #{@final_profiles_found_arr.inspect}


%h4
  Массивы перезаписи, найденные в Connect_Users
%p
  @profiles_to_rewrite: #{@profiles_to_rewrite.inspect}
%p
  @profiles_to_destroy: #{@profiles_to_destroy.inspect}
%p
  @complete_dubles_hash: #{@complete_dubles_hash.inspect}
-#%p
-#  @new_connection_hash: #{@new_connection_hash.inspect}
%p
  @diff_hash: #{@diff_hash.inspect}

%p
  @save_in_tree: #{@save_in_tree.inspect}
%p
  @save_in_tree_LEN: #{@save_in_tree_LEN.inspect}
%p
  @save_in_profilekey: #{@save_in_profilekey.inspect}
%p
  @save_in_profilekey_LEN: #{@save_in_profilekey_LEN.inspect}









