%section.admin

%h3
  ПРОЦЕСС ОБЪЕДИНЕНИЯ ДВУХ ДЕРЕВЬЕВ
%p
  IN connection_of_trees: @current_user_id: #{@current_user_id.inspect}
%p
  IN connection_of_trees: @user_id: #{@user_id.inspect}
%p
  IN connection_of_trees: @matched_profiles_hash: #{@matched_profiles_hash.inspect}
%p
  IN connection_of_trees: @matched_relations_hash: #{@matched_relations_hash.inspect}
%p
  IN connection_of_trees: @matched_profiles_in_tree: #{@matched_profiles_in_tree.inspect}
%p
  IN connection_of_trees: @matched_relations_in_tree: #{@matched_relations_in_tree.inspect}

%p
  IN connect_trees: @first_tree: #{@first_tree.inspect}
%p
  IN connect_trees: @second_tree: #{@second_tree.inspect}
%p
  IN connect_trees: @change_profiles_arr: #{@change_profiles_arr.inspect}
%p
  IN connect_trees: @opposite_profiles_arr: #{@opposite_profiles_arr.inspect}
%p
  IN connect_trees: @@msg: #{@msg.inspect}
%p
  IN connect_trees: @@tree_to_write: #{@tree_to_write.inspect}
