%section.admin

%h3
  ПРОЦЕСС ОБЪЕДИНЕНИЯ ДВУХ ДЕРЕВЬЕВ

%p
  Кто соединился: Автор: #{@current_user_id.inspect}
%p
  @who_connect_users_arr: #{@who_connect_users_arr.inspect}
%p
  @first_tree: #{@first_tree.inspect}
%p
  Выбран, с кем хочет соединиться: #{@user_id.inspect}
%p
  @with_whom_connect_users_arr: #{@with_whom_connect_users_arr.inspect}
%p
  @second_tree: #{@second_tree.inspect}

%h4
  Повторный запуск ПОИСКА:
%h4
  ВСЕ wide СОВПАДЕНИЯ РОДНЫХ : @final_reduced_profiles_hash: #{@final_reduced_profiles_hash.inspect}
%h4
  ВСЕ wide НАЙДЕННЫЕ НОМЕРА ОТНОШЕНИй: @final_reduced_relations_hash: #{@final_reduced_relations_hash.inspect}
%p
  Длительность поиска: #{@elapsed_search_time.inspect}


%p
  @matched_profiles_in_tree: #{@matched_profiles_in_tree.inspect}
%p
  @found_profiles: #{@found_profiles.inspect}
-#%p
-#  @one_profile: #{@one_profile.inspect}
-#%p
-#  @where_found_tree_row: #{@where_found_tree_row.inspect}
%p
  @rewrite_and_destroy_hash: #{@rewrite_and_destroy_hash.inspect}
%p
  @opposite_profiles_arr: #{@opposite_profiles_arr.inspect}
%p
  @profiles_to_rewrite: #{@profiles_to_rewrite.inspect}
%p
  @profiles_to_destroy: #{@profiles_to_destroy.inspect}
%p
  @rewrite_tree_arr1: #{@rewrite_tree_arr1.inspect}
%p
  @rewrite_tree_arr2: #{@rewrite_tree_arr2.inspect}
%p
  @rewrite_profilekey_arr1: #{@rewrite_profilekey_arr1.inspect}
%p
  @rewrite_profilekey_arr2: #{@rewrite_profilekey_arr2.inspect}

%p
  @save_in_tree: #{@save_in_tree.inspect}
%p
  @save_in_tree_LEN: #{@save_in_tree_LEN.inspect}
%p
  @save_in_profilekey: #{@save_in_profilekey.inspect}
%p
  @save_in_profilekey_LEN: #{@save_in_profilekey_LEN.inspect}









