.container#requests
  %h1 Объединение деревьев

  %table.request_confirmation
    %tr
      %td.from
        - unless @from_user.profile.blank?
          = image_tag @from_user.profile.icon_path
          %h2= @from_user.name

      %td.connection_results
        - if @stop_connection
          .red= fa_icon "close"
        - else
          .green= fa_icon "check"

      %td.to
        - unless @to_user.profile.blank?
          = image_tag @to_user.profile.icon_path
          %h2= @to_user.name



- if Rails.env == 'development'
  = render 'debugger'
