%section.admin

%h3
  *** ПРОЦЕСС ОБЪЕДИНЕНИЯ ДЕРЕВЬЕВ ***
%br/
%br/

- if !@stop_by_search_dublicates && !@stop_by_arrs
  %h1 #{@connection_message} (Дубликатов нет, массивы - в норме)
  %br/
  %br/
- else
  %h1 Деревья объединить нельзя! ...
  %h1 Информация при объединении деревьев:
  #{@connection_message}
  %br/
  = @complete_dubles_hash
  %br/
  %br/

%p
  @stop_by_search_dublicates: #{@stop_by_search_dublicates.inspect}
%p
  @stop_by_arrs: #{@stop_by_arrs.inspect}


%p
  Кто хочет соединиться: Автор: #{@current_user_id.inspect}, @who_connect_users_arr: #{@who_connect_users_arr.inspect}

%p
  Выбран Юзер, с кем Автор хочет соединиться (из вьюхи): #{@user_id.inspect}, @with_whom_connect_users_arr: #{@with_whom_connect_users_arr.inspect}


%h4
  параметр ПОИСКА: @certain_koeff_for_connect = #{@certain_koeff_for_connect.inspect}
%h4
  ИТОГОВЫЕ ДОСТОВЕРНЫЕ ПАРЫ ПРОФИЛЕЙ - БЕЗ ДУБЛИКАТОВ: @uniq_profiles_pairs: #{@uniq_profiles_pairs.inspect}
%h4
  ИТОГОВЫЕ ДУБЛИКАТЫ ПРОФИЛЕЙ one_to_many : @duplicates_one_to_many: #{@duplicates_one_to_many.inspect}
%h4
  ИТОГОВЫЕ ДУБЛИКАТЫ ПРОФИЛЕЙ many_to_one : @duplicates_many_to_one: #{@duplicates_many_to_one.inspect}
%p
  Длительность поиска: #{@elapsed_search_time.inspect}

%h4
  Массивы перезаписи, найденные в Connect_Users
%p
  @profiles_to_rewrite: #{@profiles_to_rewrite.inspect}
%p
  @profiles_to_destroy: #{@profiles_to_destroy.inspect}
%p
  @complete_dubles_hash: #{@complete_dubles_hash.inspect}



-#%p
-#  @save_in_tree: #{@save_in_tree.inspect}
-#%p
-#  @save_in_tree_LEN: #{@save_in_tree_LEN.inspect}
-#%p
-#  @save_in_profilekey: #{@save_in_profilekey.inspect}
-#%p
-#  @save_in_profilekey_LEN: #{@save_in_profilekey_LEN.inspect}









