<h3> Отображение стартового Древа Пользователя в табличной форме - Ближнего Круга </h3>



<% if !@start_tree_arr.blank?  %>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Родство</th>
    <th>Имя</th>
    <th>Пол</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @start_tree_arr.each do |tree| %>
      <tr>
        <td><%= tree[0] %></td>
        <td><%= tree[1] %></td>
        <td><%= tree[2] %></td>
        <td><%= tree[3] %></td>
        <td> Вызов меню Родственника: <%= link_to "Relative Menu", main_relative_menu_path %> </td>
      </tr>
  <% end %>
  </tbody>
</table>

<% end %>


<p>Если @profile_sex = false, то <%= @profile_name.inspect %> - женское имя %></p>

