%h3 Ввод информации о БРАТЕ
= form_tag(store_brother_path, remote: true, id: 'brother_form') do
  %div
    = label_tag 'Введи имя Брата:'
    %div
      = select_tag 'brother_name_select', options_for_select(@sel_names_male, selected = @brother_name), :prompt => 'Выбери имя'
    %div
      %div
        = label_tag 'Есть еще братья?'
        = radio_button_tag :more_brothers_exist?, "yes", :prompt => 'Нажми имя'
      %div
        = label_tag 'Нет. Далее'
        = radio_button_tag :more_brothers_exist?, "no more", :prompt => 'Выбери имя'
  = submit_tag 'Ввод'

%h5 @dialog_message: #{@dialog_message.inspect}
%h5 @render_name: #{@render_name.inspect}
