%h3 Ввод информации о СЕСТРЕ
= form_tag(store_sister_path, remote: true, id: 'sister_form') do
  %div
    %div
      = label_tag 'Есть сестры? Нажми кнопку'
      = radio_button_tag :more_sisters_exists?, "yes", false
    %div
      = label_tag 'Нет. Далее'
      = radio_button_tag :more_sisters_exists?, "no more", false
  %div
    = label_tag 'Введи имя Сестры:'
    %div
      = select_tag 'sister_name_select', options_for_select(@sel_names_female, selected = @sister_name),  :prompt => 'Выбери имя'
  = submit_tag 'Ввод'

%h5 @dialog_message: #{@dialog_message.inspect}
%h5 @render_name: #{@render_name.inspect}
%h5 @params: #{params[:sister_name_select].inspect}
