%h1 ПРОМЕЖУТОЧНОЕ Отображение Стартового Древа Пользователя в табличной форме
%h1 (для отладки)
- if !@tree_array.blank?
  %table
    %tr
      %th ID
      %th ID Автора
      %th ID Профиля
      %th ID Родства
      %th Имя
      %th Пол
      %th
      %th
      %th
  %tbody
    - @tree_array.each do |tree|
      %tr
        %td= tree[0]
        %td= @id_author
        %td= tree[0]
        %td= tree[1]
        %td= tree[2]
        %td= tree[3]
- else
  %h1 No Listing tree!
  %p
    Переход на страницу Старт:  #{link_to "Переход на Старт -->", enter_myself_path}
  %p
    Возврат на страницу Логин:  #{link_to "Возврат в Логин -->", landing_path}
