%h4 ПРОМЕЖУТОЧНОЕ Отображение Стартового Древа Пользователя в табличной форме
%h4 (для отладки)
- if !@profiles_array.blank?
  %table
    %tr
      %th ID
      %th ID Автора
      %th ID Профиля
      %th ID Родства
      %th Имя
      %th Пол
      %th
      %th
      %th
    - @profiles_array.each do |tree|
      %tr
        %td= tree[0]
        %td= @id_author
        %td= tree[0]
        %td= tree[1]
        %td= tree[2]
        %td= tree[3]
- else
  %h4 No Listing tree!
  %h4
    Сохранение введенного дерева:  #{link_to "Админ -->", admin_path}
  %h4
    Возврат на страницу Старт:  #{link_to "Старт -->", enter_myself_path}
  %h4
    Возврат на страницу Лэндинг:  #{link_to "Landing -->", landing_path}
  %h4
    Переход на страницу Админа:  #{link_to "Админ -->", admin_path}
