<h2> Метод enter_sister, Страница START - ввод стартового дерева - Ближний Круг </h2>

<div>
  <!--<p>@sel_names: <%= @sel_names.inspect %></p>-->
  <!--<p>@sel_names_male: <%= @sel_names_male.inspect %></p>-->
  <!--<p>@sel_names_female: <%= @sel_names_female.inspect %></p>-->
  <p>@navigation_var: <%= @navigation_var.inspect %></p>
  <p>@tree_array: <%= @tree_array.inspect %></p>
</div>



<h3> Ввод информации о СЕСТРЕ </h3>
<%= form_tag({ :controller => "start", :action => "store_sister"}) do %>
    <div>
      <h4>2.Имя Сестры </h4>
      <%= label_tag 'Введи имя Сестры:' %>
      <div >
        <%= select_tag 'sister_name_select', options_for_select(@sel_names_female, selected = @sister_name),  :prompt => 'Выбери имя' %>
      </div>
    </div>
    <%= submit_tag 'Ввод' %>
<% end %>


<p>Имя Сестры: @sister_name: <%= @sister_name.inspect %>, я - <%= @sister_sex.inspect %> </p>
<p>@user_sex: <%= @user_sex.inspect %></p>
