%section.admin
  %h3 Страница START - ввод стартового дерева - Ближний Круг
  -#%div
    / <p>@sel_names: <haml:loud> @sel_names.inspect </haml:loud></p>
    / <p>@sel_names_male: <haml:loud> @sel_names_male.inspect </haml:loud></p>
    / <p>@sel_names_female: <haml:loud> @sel_names_female.inspect </haml:loud></p>
    %p
      @navigation_var: #{@navigation_var.inspect}
  %h4 Ввод информации об авторе стартового дерева
  = form_tag(store_myself_path, remote: true, id: 'myself_form') do
    %div
      %h3 Твое имя
      = label_tag 'Введи свое имя:'
      = select_tag 'name_select', options_for_select(@sel_names, selected = @user_name),  :prompt => 'Выбери имя'
    = submit_tag 'Ввод'
  %div
    %p#name_container
      Мое имя: @user_name: #{@user_name.inspect}, Я - #{@user_sex.inspect}
    -#%p#sex_container
    -#  Я - #{@user_sex.inspect}
  #next_container
  %h4
    Выйти и сохранить: Переход на страницу Регистрации:  #{link_to "Регистрация -->", user_registration_path}
  %h4
    Возврат на страницу Лэндинг:  #{link_to "Landing -->", landing_path}
