%section.admin
  %h1 Страница START - ввод стартового дерева - Ближний Круг
  %div
    / <p>@sel_names: <haml:loud> @sel_names.inspect </haml:loud></p>
    / <p>@sel_names_male: <haml:loud> @sel_names_male.inspect </haml:loud></p>
    / <p>@sel_names_female: <haml:loud> @sel_names_female.inspect </haml:loud></p>
    %p
      @navigation_var: #{@navigation_var.inspect}
    %p
      @tree_array: #{@tree_array.inspect}
  %h2 Ввод информации о СЕСТРЕ
  = form_tag({ :controller => "start", :action => "store_sister"}) do
    %div
      %h2 2.Имя Сестры
      = label_tag 'Введи имя Сестры:'
      %div
        = select_tag 'sister_name_select', options_for_select(@sel_names_female, selected = @sister_name),  :prompt => 'Выбери имя'
    = submit_tag 'Ввод'
  %p
    Имя Сестры: @sister_name: #{@sister_name.inspect}, я - #{@sister_sex.inspect}
  %p
    @user_sex: #{@user_sex.inspect}
  %h2
    Переход на страницу Регистрации:  #{link_to "Регистрация -->", user_registration_path}
  %h2
    Возврат на страницу Логин:   #{link_to "Логин -->", landing_path}
