<h2> Метод enter_brother, Страница START - ввод стартового дерева - Ближний Круг </h2>



<h3> Ввод информации о БРАТЕ стартового дерева  </h3>
<%= form_tag({ :controller => "start", :action => "store_brother"}) do %>
    <div>
      <h4>2.Имя Брата </h4>
      <%= label_tag 'Введи имя Брата:' %>
      <div >
        <%= select_tag 'brother_name_select', options_for_select(@sel_names_male, selected = @brother_name),  :prompt => 'Выбери имя' %>
      </div>
    </div>
    <%= submit_tag 'Ввод' %>
<% end %>


<p>Имя Брата: @brother_name: <%= @brother_name.inspect %>, я - <%= @brother_sex.inspect %> </p>
<p>@brother_sex: <%= @brother_sex.inspect %></p>
