%section.admin
  %h3 Страница SAVE START TABLES - сохранение стартового дерева - Ближний Круг

  %p
    Исходный Массив профилей: @profiles_array: #{@profiles_array.inspect}
  %p
    Массив профилей с id: [profile_id, Relation_id, name_id] : @profiles_arr_w_ids: #{@profiles_arr_w_ids.inspect}
  %p
    Массив автора: [profile_id, Relation_id, name_id] : @author_ProfileKeys_arr: #{@author_ProfileKeys_arr.inspect}

  %p
    Часть итог.массива: @relation_profile_keys_arr: #{@relation_profile_keys_arr.inspect}
  %p
    итог.массив: @@profiles_keys_arr: #{@profiles_keys_arr.inspect}






  %h4
    Переход на Главную страницу:  #{link_to "Главная -->", main_page_path}

  %h4 Возврат на страницу Лэндинг:  #{link_to "Landing -->", landing_path}
