%section.admin
  %h3 Страница SAVE START TABLES - сохранение стартового дерева - Ближний Круг

  %p
    Исходный Массив профилей: @profiles_array: #{@profiles_array.inspect}
  %p
    Массив профилей с id: [profile_id, Relation_id, name_id] : @profiles_arr_w_ids: #{@profiles_arr_w_ids.inspect}
  %p
    Массив автора: [profile_id, Relation_id, name_id] : @author_ProfileKeys_arr: #{@author_ProfileKeys_arr.inspect}

  %p
    Массив отца : @father_ProfileKeys_arr: #{@father_ProfileKeys_arr.inspect}
  %p
    Массив матери : @mother_ProfileKeys_arr: #{@mother_ProfileKeys_arr.inspect}
  %p
    Массив жены : @wife_ProfileKeys_arr: #{@wife_ProfileKeys_arr.inspect}
  %p
    Массив дочери : @daugther_ProfileKeys_arr: #{@daugther_ProfileKeys_arr.inspect}
  %p
    Массив сына : @son_ProfileKeys_arr: #{@son_ProfileKeys_arr.inspect}
  %p
    @relation_id: #{@relation_id.inspect}
  %p
    @profile_id_hash: #{@profile_id_hash.inspect}

  %p
    Часть итог.массива: @profile_keys_arr: #{@profile_keys_arr.inspect}
  %p
    итог. массив: @all_profiles_keys_arr: #{@all_profiles_keys_arr.inspect}






  %h4
    Переход на Главную страницу:  #{link_to "Главная -->", main_page_path}

  %h4 Возврат на страницу Лэндинг:  #{link_to "Landing -->", landing_path}
