
<section  class="admin">

  <h1>ПРОМЕЖУТОЧНОЕ Отображение Стартового Древа Пользователя в табличной форме</h1>
  <h1>(для отладки)</h1>


  <% if !@tree_array.blank? %>


    <div>
      <!--<p>@session_id: <%= @session_id.inspect %></p>-->
      <p>@navigation_var: <%= @navigation_var.inspect %></p>
      <p>@user_sex: <%= @user_sex.inspect %></p>
      <p>@tree_array: <%= @tree_array.inspect %></p>

    </div>

    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>ID Автора</th>
        <th>ID Профиля</th>
        <th>ID Родства</th>
        <th>Имя</th>
        <th>Пол</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @tree_array.each do |tree| %>
          <tr>
            <td><%= tree[0] %></td>
            <td><%= @id_author %></td>
            <td><%= tree[0] %></td>
            <td><%= tree[1] %></td>
            <td><%= tree[2] %></td>
            <td><%= tree[3] %></td>
          </tr>
      <% end %>
      </tbody>
    </table>


<% else %>
    <h1>No Listing tree!</h1>
    <p>Переход на страницу Старт:  <%= link_to "Переход на Старт -->", start_enter_myself_path %> </p>
    <p>Возврат на страницу Логин:  <%= link_to "Возврат в Логин -->", pages_login_path %> </p>

<% end %>


<h2>Чтобы подтвердить совпадения и пожать руку родственнику - сначала зарегистрируйся. </h2>
<h2> Выход + Сохранить - Переход на страницу Регистрации: <%= link_to "Переход к Регистрации -->", pages_registration_path %> </h2>
<h2>Переход на страницу Старт:  <%= link_to "Старт -->", start_enter_myself_path %> </h2>
<h2>Возврат на страницу Логин:  <%= link_to "Логин -->", pages_login_path %> </h2>

</section>
