%section.admin
  %h1 ПРОМЕЖУТОЧНОЕ Отображение Стартового Древа Пользователя в табличной форме
  %h1 (для отладки)
  - if !@tree_array.blank?
    %div
      / <p>@session_id: <haml:loud> @session_id.inspect </haml:loud></p>
      %p
        @navigation_var: #{@navigation_var.inspect}
      %p
        @user_sex: #{@user_sex.inspect}
      %p
        @tree_array: #{@tree_array.inspect}
      %p
        @last_user: #{@last_user.inspect}
      %p
        @new_user_id: #{@new_user_id.inspect}
    %table
      %thead
        %tr
          %th ID
          %th ID Автора
          %th ID Профиля
          %th ID Родства
          %th Имя
          %th Пол
          %th
          %th
          %th
      %tbody
        - @tree_array.each do |tree|
          %tr
            %td= tree[0]
            %td= @id_author
            %td= tree[0]
            %td= tree[1]
            %td= tree[2]
            %td= tree[3]
  - else
    %h1 No Listing tree!
    %p
      Переход на страницу Старт:  #{link_to "Переход на Старт -->", enter_myself_path}
    %p
      Возврат на страницу Логин:  #{link_to "Возврат в Логин -->", landing_path}
  %h2 Чтобы подтвердить совпадения и пожать руку родственнику - сначала зарегистрируйся.
  %h2
    Выход + Сохранить - Переход на страницу Регистрации: #{link_to "Переход к Регистрации -->", new_user_registration_path}
  %h2
    Переход на страницу Старт:  #{link_to "Старт -->", enter_myself_path}
  %h2
    Возврат на страницу Логин:  #{link_to "Логин -->", landing_path}
