<h2> Метод mother_store, Страница START - ввод стартового дерева - Ближний Круг </h2>

<div>
  <!--<p>@sel_names: <%= @sel_names.inspect %></p>-->
  <!--<p>@sel_names_male: <%= @sel_names_male.inspect %></p>-->
  <!--<p>@sel_names_female: <%= @sel_names_female.inspect %></p>-->
  <p>@navigation_var: <%= @navigation_var.inspect %></p>
  <p>@tree_profile_arr: <%= @tree_profile_arr.inspect %></p>
  <p>@tree_array: <%= @tree_array.inspect %></p>

</div>
