%section.admin
  %h3 ADD_NEW_PROFILE
  %h3 Добавление нового Профиля
  %div
    %p
      @menu_choice: #{@menu_choice.inspect}

  -#<li #{render :partial => 'get_profile_params'}

%h3 Ввод информации о НОВОМ ПРОФИЛЕ (store_mother_path, remote: true, id: 'mother_form' )
= form_tag do
  %div
    = label_tag 'Введи Профиль, к которому добавляем Новый Профиль:'
    -#= select_tag :relation_select, options_for_select(@sel_names, selected = @new_profile_relation), :prompt => 'Выбери имя' , options_for_select(@sel_names, selected = @new_profile_relation),
    = number_field_tag :add_to_profile, :prompt => 'Введи Профиль, к которому добавляем Новый Профиль '

  %div
    = label_tag 'Введи имя Нового Профиля:'
    = select_tag :profile_name_select, options_for_select(@sel_names, selected = @new_profile_name), :prompt => 'Выбери имя'

  %div
    = label_tag 'Введи Relation Нового Профиля:'
    -#= select_tag :relation_select, options_for_select(@sel_names, selected = @new_profile_relation), :prompt => 'Выбери имя' , options_for_select(@sel_names, selected = @new_profile_relation),
    = number_field_tag :relation_number, :prompt => 'Выбери Relation'

  = submit_tag 'Ввод'

  %p
    @add_to_profile: #{@add_to_profile.inspect}
  %p
    @new_profile_name: #{@new_profile_name.inspect}
  %p
    @new_profile_sex: #{@new_profile_sex.inspect}
  %p
    @new_profile_relation: #{@new_profile_relation.inspect}

  %p
    Новый профиль: @new_profile_id: #{@new_profile_id.inspect}

  %p
    Основной массив БК - из Tree: @tree_arr: #{@tree_arr.inspect}

  %p
    Поисковый массив: @profiles_tree_arr: #{@profiles_tree_arr.inspect}



  %h4 Переход на:  #{link_to "Просмотр и подтверждение совпадений -->", match_approval_path}

  %h4 Переход на:  #{link_to "Просмотр и управление Графом дерева -->", show_graph_tree_path}

  %h4 Возврат на страницу Старт:  #{link_to "Старт -->", enter_myself_path}
  %h4 Возврат на страницу Лэндинг:  #{link_to "Landing -->", landing_path}
  %h4 Переход на страницу Админа:  #{link_to "Админ -->", admin_path}

