%li.main-item= link_to "Добавить родственника", '#show-relation-list', onclick: "$('.relation_list').slideToggle('fast')"
.relation_list{style: 'display:none;'}
  - Relation.relation_for_auhtor.each do |relation|
    %li.sub-item= link_to relation[:title], new_profile_path(base_relation_id: @base_relation_id, base_profile_id: @profile.id, relation_id: relation[:id], path_link: @path_link), remote: true

%li.main-item= link_to "О нём", edit_profile_path(@profile.id)
%li.main-item= link_to "Общаться", '#', class: :grey
%li.main-item= link_to "В избранные", '#', class: :grey
