.container#common_log
  -#%h1 Просмотр общих логов дерева
  -#%br

  -#%h1 Данные о текущем дереве
  -#- if @tree_info.empty?
  -#  %table
  -#    %tr
  -#      %td.left.grey.italic
  -#        Данныx о текущем дереве - нет
  -#- else
  -#  %h2 На сайте - пользователь (current_user.id): #{@current_user_id}
  -#  %h2 Пользователи - авторы дерева: #{@tree_info[:connected_users]}
  -#  -#%h2 ID Профилей Пользователей - авторов дерева: #{@tree_info[:users_profiles_ids]}
  -#  -#%h2 Массив профилей в дереве:     #{@tree_info[:tree_is_profiles]}
  -#  -#%h2 Количество профилей в дереве: #{@tree_info[:tree_profiles_amount]}
  -#  %h2 Полный массив профилей в дереве (с авторами):  #{@tree_info[:all_tree_profiles]}
  -#  %h2 Полное количество профилей в дереве (с авторами): #{@tree_info[:all_tree_profiles_amount]}
  -#%br
  -#

  -#- if @paged_common_logs_data.blank?
  - if @tree_all_logs.blank?
    %table
      %tr
        %td.left.grey.italic
          %h2 У дерева пока еще нет истории...
          %br
          = link_to 'К просмотру дерева', home_path, class: [:bttn, :green]

  - else
    %h1 История развития твоего дерева
    %br
    %table
      %tr
        -#%th Лог ID
        %th Дата
        %th Дерево
        %th Действие
        %th Имя
        -#%th Профиль
        -#%th Номер лога
        -#%th
        %th
      -#- @paged_common_logs_data.each do |common_logs_data|
      - @tree_all_logs.each do |tree_one_log|
        -#%tr{data: {common_log_id: tree_one_log.id}}
        %tr
          -#%td.rollback= common_logs_data.id
          -#%td= tree_one_log.id
          %td= tree_one_log.created_at
          %td= tree_one_log.tree_user_name
          %td= LogType.name_log_type(tree_one_log.log_type)  #
          %td= tree_one_log.agent_name #
          -#%td= tree_one_log.profile_id #
          -#%td= tree_one_log.log_id

          %td= link_to 'Выбрать', mark_rollback_path(common_log_id: tree_one_log.id), method: :post, remote: true,  id: 'name_container', class: :messages

  .point
    %h1
    %h2
  .log_id
    %h2


  .after_rollback

  %br


    -#%input type="button" name="OK" class="ok" value="OK"
    -#%h1 Вернуть назад историю дерева к выбранной дате? (Ваше решение)
    -#= link_to 'Да, вернуть дерево в состояние на выбранную дату', rollback_add_logs_path(rollback_date: '2015-03-14 10:54:05 UTC'), method: :post, remote: true, class: [:bttn, :red]
    -#= link_to 'Нет - к просмотру дерева', home_path, class: [:bttn, :green]

    -#= paginate @paged_common_logs_data
    -#%h2 Выбранный ряд: #{@common_log_id_selected.inspect}

  %br
  %br
