%section.admin
  %h1 Listing trees
  %table
    %thead
      %tr
        %th ID
        %th User
        %th Profile
        %th Relation
        %th Connected
        %th
        %th
        %th
    %tbody
      - @trees.each do |tree|
        %tr
          %td= tree.id
          %td= tree.user_id
          %td= tree.profile_id
          %td= tree.relation_id
          %td= tree.connected
          %td= link_to 'Show', tree
          %td= link_to 'Edit', edit_tree_path(tree)
          %td= link_to 'Destroy', tree, method: :delete, data: { confirm: 'Are you sure?' }
  %br/
  = link_to 'New Tree', new_tree_path
  %p
    Возврат на страницу Админа:  #{link_to "Возврат к Админу -->", pages_admin_path}
