#center-profile-menu.dropdown{style:'display:none;'}
  %ul.dropdown-content
    %li.main-item
      = link_to "Добавить родственника", '#show-relation-list', onclick: "$('.relation_list').slideToggle('fast')"
    .relation_list{style: 'display:none;'}
      - Relation.relations_for_sex(0).each do |relation|
        %li.sub-item
          = link_to relation[:title], new_profile_path(relation_id: relation[:id], base_profile_id: 6), remote: true

    %li.main-item= link_to "О нём", profile_edit_data_path('#')
    %li.main-item= link_to "Общаться", '#', class: :grey
    %li.main-item= link_to "В избранные", '#', class: :grey
    %li.main-item= link_to "Удалить профиль", profile_path('#'), class: :red, method: :delete
