= render 'path'
= render 'search_results_button'

#graph-wrapper


= javascript_include_tag 'home'
= javascript_include_tag 'home-search'

%script
  var access_token = '#{current_user.access_token}';
  getCircles({ profile_id: #{current_user.profile_id}, token: access_token });
  getSearch();
