-# home index page
#graph-wrapper
%h2 --------------------------- @attributes:     #{@attributes.inspect}
%h2 --------------------------- @name:     #{@name.inspect}
%h2 --------------------------- @is_key:     #{@is_key.inspect}
%h2 --------------------------- @rez:     #{@rez.inspect}


= render 'path'
= render 'search_results_button'
= render 'zoom_range'
= render 'notification'
-#%p Similars @similars: #{@similars.size.inspect}
- unless @similars.empty?
  = render 'similars_display_button'

#profile-context-menu{style:'display:none;'}

#jsdebug

= javascript_include_tag 'path'
= javascript_include_tag 'home'
= javascript_include_tag 'home-search'
= javascript_include_tag 'zoom'


%script
  // var currentZoom = getCurrentZoom();
  var access_token = '#{current_user.access_token}';
  var current_user_profile_id = '#{current_user.profile_id}';
  getCircles({ profile_id: current_user_profile_id, token: access_token });
  // startSearch();
  // run main search in callback of startSearch()
  getSearchResults( showSearchResultsButton );
  $('#search-results-button').draggable({});
