-# home / search page
#graph-wrapper

= render 'path'
= render 'search_results_button'
= render 'profile_menu'


#jsdebug
= javascript_include_tag 'path'
= javascript_include_tag 'home'
= javascript_include_tag 'home-search'


%script
  var access_token = '#{current_user.access_token}';
  var current_user_profile_id = #{current_user.profile_id};
  showSearchResult();
