%ul#progrees-bar
  %li{class: ('active' if current_step == 'author')}
    = link_to "1", go_to_start_step_path('author')
  %li{class: ('active' if current_step == 'mother' || current_step == 'father')}
    = link_to "2", go_to_start_step_path("mother")
  %li{class: ('active' if ['brothers', 'sisters', 'have_brothers', 'have_sisters'].include? current_step)}
    = link_to "3", go_to_start_step_path("have_brothers")
  %li{class: ('active' if ['have_couple', 'couple'].include? current_step)}
    = link_to "4", go_to_start_step_path("have_couple")
  %li{class: ('active' if ['have_children', 'have_sons', 'sons', 'have_daughter', 'daughter'].include? current_step)}
    = link_to "5", go_to_start_step_path("have_children")
  %li.stretch
