#welcome-form.col_1_2
  = render 'breadcrumb'
  = current_author.to_json
  = form_tag :proceed_start, remote: false, id: 'welcome_form' do
    .body
      = render "welcome/form/#{current_step}"
    .footer
      = link_to 'Назад', :previous, class: [:btn], id: :prev
      = submit_tag 'Дальше', class: [:btn, :blue], id: :next
