.col_1_2
  #welcome-form
    = render 'breadcrumb'

    = form_tag :proceed_start, remote: false, id: 'welcome_form' do
      .body
        = render "welcome/form/#{current_step}"
      .footer
        = link_to '&larr; Назад'.html_safe, :previous, class: [:btn], id: :prev
        - unless current_step =~ /^have/
          = submit_tag 'Вперед &rarr;'.html_safe, class: [:btn, :blue], id: :next, style:"float:right;"
