#welcome-form.col_1_2
  = render 'breadcrumb'
  = form_tag :proceed_start, remote: false, id: 'welcome_form' do
    .body
      = render "welcome/form/#{current_step}"
    .footer
      - if last_step?
        "Пока останавливаемся тут"
      - else
        = link_to 'Назад', :previous, class: [:btn], id: :prev
        = submit_tag 'Дальше', class: [:btn, :blue], id: :next



.col_2_2{style:'margin-top:100px;'}
  - @profiles_json = "{'author':#{current_author.to_json.to_s}}"

  #tree_canvas_start

  %script{ :type => 'text/javascript', :defer => 'defer' }
    :plain
      var kinetic = {
        container: 'tree_canvas_start',
        width: 500,
        height: 500,
        scale: 25ре,
        ajax: false,
        draggable: false
      };

      var constructTree = new reTree(#{@profiles_json}, kinetic);