= render 'breadcrumb'

#welcome-form.center-align
  = form_tag store_myself_path, remote: true, id: 'myself_form' do
    = render "form_#{current_step}"
    .control
      = submit_tag 'Дальше', class: [:btn, :green, :large]
