


%h1 Ваши обновления (Listing updates_feeds)
%br
%br

%table
  %tr
    %th Пользователь - Кто
    %th Содержание обновления
    %th С кем
    %th Прочитано
    %th Изображение

  - @updates_feeds.each do |updates_feed|
    %tr
      %td= updates_feed.user_id
      %td= updates_feed.data_update(updates_feed.update_id)[:text]
      %td= updates_feed.agent_user_id
      %td= updates_feed.read
      %td= updates_feed.data_update(updates_feed.update_id)[:image]
      -#%td= link_to 'Show', updates_feed

%br

= link_to 'К просмотру дерева', home_path
