

%section.admin



- if !@view_update_data.blank?

  %h1 Твои обновления (Listing updates_feeds)
  %br
  %br

  %table
    %tr
      %th Aвтор обновления
      %th Эл.почта автора
      %th Содержание
      %th С кем связано
      %th Прочитано
      %th Изображение
      %th Дата обновления

    - @view_update_data.each do |updates_feed|
      %tr
        %td= updates_feed[:user_update_author]
        %td= updates_feed[:user_author_email]
        %td= updates_feed[:update_text]
        %td= updates_feed[:profile_in_update]
        %td= updates_feed[:update_read]
        %td= updates_feed[:update_image]
        %td= updates_feed[:update_created]

- else
  %br
  %br
  %h1 Обновлений - нет


%br
= link_to 'К просмотру твоего дерева', home_path



