<section class="admin">

  <div>
     <p>@session_id: <%= @session_id.inspect %></p>
     <p>@first_var: <%= @first_var.inspect %></p>
  </div>


  <h3> Страница ADMIN - служебные методы </h3>


  <h3> Просмотр и редактирование таблиц </h3>

  <h4> Имена <%= link_to "Names", names_path %> </h4>
  <h4> Отношения родства <%= link_to "Relations", relations_path %> </h4>



  <p>Возврат на страницу Старт:  <%= link_to "Возврат на Старт -->", pages_start_path %> </p>



</section>
