%section.admin
  %div
    %p
      @session_id: #{@session_id.inspect}
    %p
      @first_var: #{@first_var.inspect}
    %p
      @navigation_var: #{@navigation_var.inspect}
  %h3
    =link_to 'Просмотр и редактирование таблиц', rails_admin_path
  %h1
    Страница ADMIN - служебные методы
  %p
    Возврат на страницу Старт:  #{link_to "Возврат на Старт -->", pages_start_path}
  %p
    Возврат на страницу Логин:  #{link_to "Возврат в Логин -->", pages_login_path}
  %p
    Возврат на Главную страницу:  #{link_to "Возврат на Главную -->", pages_main_path}
