<section class="admin">

  <div>
     <p>@session_id: <%= @session_id.inspect %></p>
     <p>@first_var: <%= @first_var.inspect %></p>
     <p>@navigation_var: <%= @navigation_var.inspect %></p>
  </div>


  <h1> Страница ADMIN - служебные методы </h1>


  <h2> Просмотр и редактирование таблиц </h2>

  <h2> Пользователи - авторы деревьев <%= link_to "Users", users_path %> </h2>
  <h2> Профили - все участники деревьев <%= link_to "Profiles", profiles_path %> </h2>
  <h2> Деревья - все деревья всех пользователей-авторов <%= link_to "Tree", trees_path %> </h2>
  <h2> Имена <%= link_to "Names", names_path %> </h2>
  <h2> Отношения родства <%= link_to "Relations", relations_path %> </h2>



  <p>Возврат на страницу Старт:  <%= link_to "Старт -->", start_enter_myself_path %> </p>
  <p>Возврат на страницу Логин:  <%= link_to "Логин -->", pages_login_path %> </p>
  <p>Возврат на Главную страницу:  <%= link_to "Главная -->", main_page_path %> </p>



</section>
