<section class="admin">

  <div>
    <p>@session_id: <%= @session_id.inspect %></p>
    <p>@navigation_var: <%= @navigation_var.inspect %></p>
    <p>@first_var: <%= @first_var.inspect %></p>
  </div>


  <h3> Страница ОБЩЕНИЯ - CONVERSATION - методы общения Юзера с другими Юзерами: темы беседы события сообщения</h3>








  <h2> Переход на Главную страницу:  <%= link_to "Главная -->", main_page_path %> </h2>
  <h2> Переход на страницу Регистрации:  <%= link_to "Регистрация -->", registration_path %> </h2>
  <h2>Переход на страницу Старт:  <%= link_to "Старт -->", start_enter_myself_path %> </h2>



</section>
