%section.admin
  %h1 Страница LOGIN - вход Юзера
  %div
    %p
      @first_var: #{@first_var.inspect}
    %p
      @navigation_var: #{@navigation_var.inspect}
    %p
      @sel_names: #{@sel_names.inspect}
  %h2 Здесь происходит вход зарегенного Юзера и переход на Главную для основной работы
  %h2
    Переход на Главную страницу:  #{link_to "Главная -->", main_page_path}
  %h2 или если Юзер незарегенный, то переход в Старт для ввода стартового дерева (БК)
  %h2
    Переход на страницу Старт:  #{link_to "Старт -->", enter_myself_path}
  %h2
    Переход на страницу Админа:  #{link_to "Админ -->", admin_path}
  %h2
    Переход на страницу Регистрации:  #{link_to "Регистрация -->", user_registration_path}
