<section class="admin">

  <h2> Страница MAIL - сообщения и беседы(?) Юзера </h2>


  <div>
    <p>@first_var: <%= @first_var.inspect %></p>
    <p>@navigation_var: <%= @navigation_var.inspect %></p>
    <p>@updates_count: <%= @updates_count.inspect %></p>
  </div>




  <h2> Переход на Главную страницу:  <%= link_to "Главная -->", main_page_path %> </h2>
  <h2> Переход на страницу Регистрации:  <%= link_to "Регистрация -->", registration_path %> </h2>
  <h2>Переход на страницу Старт:  <%= link_to "Старт -->", start_enter_myself_path %> </h2>
  <h2> Переход на страницу Админа:  <%= link_to "Админ -->", pages_admin_path %> </h2>

</section>
