
<section  class="admin">

  <div>
    <p>@session_id: <%= @session_id.inspect %></p>
    <p>@navigation_var: <%= @navigation_var.inspect %></p>
    <!--<p>@menu_choice: <%= @menu_choice.inspect %></p>-->
  </div>


    <div>
      <p>@first_var: <%= @first_var.inspect %></p>
      <p>@sel_names: <%= @sel_names.inspect %></p>
    </div>

  <li <%= render :partial => 'main/main_display_tree' %></li>


    <p>Возврат на страницу Старт:  <%= link_to "Возврат в Старт -->", pages_start_path %> </p>

  <p>Возврат на страницу Логин:  <%= link_to "Возврат в Логин -->", pages_login_path %> </p>


</section>
