
<section >

  <div>
    <p>@session_id: <%= @session_id.inspect %></p>
    <p>@navigation_var: <%= @navigation_var.inspect %></p>
    <!--<p>@menu_choice: <%= @menu_choice.inspect %></p>-->
  </div>



  <h3> Страница MAIN - для основной работы: просмотр и наращивание древа. </h3>
  <h3> Вызов меню родственника: добавление нового смежного родственника, общение, избранные, редактирование профиля. </h3>
  <h3> Здесь же: получение инфы о возможных совпадениях профилей в других древах. </h3>
  <h3> Переход к просмотру совпадений и дальнейшим рукопожатиям (подтверждениям). </h3>

  <li <%= render :partial => 'main/main_display_tree' %></li>







    <p>Возврат на страницу Старт:  <%= link_to "Возврат в Старт -->", pages_start_path %> </p>
    <p>Переход на страницу Админа:  <%= link_to "Переход к Админу -->", pages_admin_path %> </p>


</section>
