%section.admin
  %div
    %p
      @session_id: #{@session_id.inspect}
    %p
      @navigation_var: #{@navigation_var.inspect}
    / <p>@menu_choice: <haml:loud> @menu_choice.inspect </haml:loud></p>
  %div
    %p
      @first_var: #{@first_var.inspect}
    %p
      @sel_names: #{@sel_names.inspect}
  <li #{render :partial => 'main/main_display_tree'}
  %p
    Возврат на страницу Старт:  #{link_to "Возврат в Старт -->", pages_start_path}
  %p
    Возврат на страницу Логин:  #{link_to "Возврат в Логин -->", pages_login_path}
