
<section class="admin">

  <h3> Страница MYPAGE - страница Юзера: вся инфа о Юзере, настройки и т.д. </h3>


  <div>
    <p>@first_var: <%= @first_var.inspect %></p>
    <p>@navigation_var: <%= @navigation_var.inspect %></p>
  </div>




  <h2> Переход на Главную страницу:  <%= link_to "Главная -->", main_page_path %> </h2>
  <h2> Переход на страницу Регистрации:  <%= link_to "Регистрация -->", registration_path %> </h2>
  <h2>Переход на страницу Старт:  <%= link_to "Старт -->", start_enter_myself_path %> </h2>


  <p>Переход на страницу Админа:  <%= link_to "Переход к Админу -->", pages_admin_path %> </p>


</section>
