%section.admin
  %h2 Страница NEWS - уведомления о предложениях подтвердить совпадения, новости и другие обновления Юзера
  %div
    %p
      @navigation_var: #{@navigation_var.inspect}
    %p
      @first_var: #{@first_var.inspect}
    %p
      @updates_count: #{@updates_count.inspect}
  %p Здесь происходит вход зарегенного Юзера и переход на Главную для основной работы
  %p
    Переход на Главную страницу:  #{link_to "Переход на Главную -->", main_path}
  %p или если Юзер незарегенный, то переход в Старт для ввода БК
  %p
    Переход на страницу Старт:  #{link_to "Переход в Старт -->", start_path}
