%section.admin
  %h2 Страница REGISTRATION - регистрация Юзера
  %div
    %p
      @navigation_var: #{@navigation_var.inspect}
    / <p>@first_var: <haml:loud> @first_var.inspect </haml:loud></p>
    %p
      @first_var: #{@first_var.inspect}
    %p
      @tree_array из сессии : #{@tree_array.inspect}
  = form_tag ({ :controller => "start", :action => "save_start"}) do
    %form.form-horizontal
      %div
        %h2 Эл.почта
        = text_field_tag :email, @email_name,  :prompt => 'Введи электронную почту'
      %div
        %h2 Пароль
        = text_field_tag :passw, @passw_name,  :prompt => 'Введи пароль'
      .form-group
      .btn.btn-default
        = submit_tag "Зарегистрироваться и Сохранить"
  %h2 Здесь происходит регистрация Юзера и переход на Главную для основной работы
  %h2
    Возврат на страницу Старт - отображение дерева в виде таблицы:  #{link_to "Возврат на Старт -->", show_tree_table_path}
  %h2
    Переход на Главную страницу:  #{link_to "Переход на Главную -->", main_page_path}
  %h2
    Переход на страницу Админа:  #{link_to "Переход к Админу -->", admin_path}
  %h2
    Возврат на страницу Логин:   #{link_to "Логин -->", landing_path}
