<section  class="admin">


  <h1> Страница REGISTRATION - регистрация Юзера </h1>


  <div>
    <p>@navigation_var: <%= @navigation_var.inspect %></p>
    <p>@first_var: <%= @first_var.inspect %></p>
    <p>@tree_array из сессии : <%= @tree_array.inspect %></p>
  </div>

  <%= form_tag ({ :controller => "start", :action => "save_start"}) do %>
    <form class="form-horizontal" >
        <div>
          <h2> Эл.почта </h2>
          <%= text_field_tag :email, @email_name,  :prompt => 'Введи электронную почту' %>
        </div>
        <div>
          <h2> Пароль </h2>
          <%= text_field_tag :passw, @passw_name,  :prompt => 'Введи пароль' %>
        </div>
          <label>
            <input type="checkbox">  Запомнить меня
          </label>
        <div class="form-group"> </div>

        <div class="btn btn-default">
           <%= submit_tag "Зарегистрироваться и Сохранить" %>
        </div>
    </form>
  <% end %>



  <h2> Здесь происходит регистрация Юзера и переход на Главную для основной работы </h2>
  <h2> Возврат на страницу Старт - отображение дерева в виде таблицы:  <%= link_to "Возврат на Старт -->", show_tree_table_path %> </h2>
  <h2> Переход на Главную страницу:  <%= link_to "Переход на Главную -->", main_page_path %> </h2>
  <h2> Переход на страницу Админа:  <%= link_to "Переход к Админу -->", pages_admin_path %> </h2>
  <h2> Возврат на страницу Логин:   <%= link_to "Логин -->", pages_login_path %> </h2>


</section>
