%section.admin
  %h2 Страница SEARCH - поиск среди профилей и юзеров
  -#%div
  -#  %p
  -#    @navigation_var: #{@navigation_var.inspect}
  -#  %p
  -#    @first_var: #{@first_var.inspect}
  %h4
    Переход на Главную страницу:  #{link_to "Главная -->", main_page_path}
  %h4
    Переход на страницу Регистрации:  #{link_to "Регистрация -->", user_registration_path}
  %h4
    Переход на страницу Старт:  #{link_to "Старт -->", enter_myself_path}
