%section
  %h5 Страница START
  %h3 Ближний Круг - ввод стартового древа -
  %div
    / <p>@one_quest_arr: <haml:loud> @one_quest_arr.inspect </haml:loud></p>
    / <p>@arr_i: <haml:loud> @arr_i.inspect </haml:loud></p>
    / <p>@new_profile_arr: <haml:loud> @new_profile_arr.inspect </haml:loud></p>
    %p
      @navigation_var: #{@navigation_var.inspect}
  <li #{render :partial => 'start/enter_start_tree'}
  / <p>@navi_test: <haml:loud> @navi_test.inspect </haml:loud></p>
  / <p>@start_tree_profile_arr: <haml:loud> @start_tree_profile_arr.inspect </haml:loud></p>
  / <p>@start_tree_arr: <haml:loud> @start_tree_arr.inspect </haml:loud></p>
  %h4
    Выход + Сохранить - Переход на страницу Регистрации: #{link_to "Переход к Регистрации -->", pages_user_registration_path}
  %p
    Возврат на страницу Логин:  #{link_to "Возврат в Логин -->", landing_path}
  %p
    Переход на страницу Регистрации:  #{link_to "Переход к Регистрации -->", pages_user_registration_path}
  %p
    Переход на Главную страницу:  #{link_to "Переход на Главную -->", pages_main_path}
  %p
    Переход на страницу Админа:  #{link_to "Переход к Админу -->", admin_path}
