
<section class="admin">

  <h2> Страница START - ввод стартового дерева - Ближний Круг </h2>

  <div>
    <p>@first_var: <%= @first_var.inspect %></p>
    <!--<p>@sel_names: <%= @sel_names.inspect %></p>-->
    <!--<p>@sel_names_male: <%= @sel_names_male.inspect %></p>-->
    <!--<p>@sel_names_female: <%= @sel_names_female.inspect %></p>-->
    <p>@navigation_var: <%= @navigation_var.inspect %></p>
  </div>

  <p>Переход на Ввод информации об авторе дерева: <%= link_to "Переход на Ввод дерева -->", start_enter_myself_path %> </p>

  <p>Переход на Главную страницу:  <%= link_to "Переход на Главную -->", pages_main_path %> </p>

  <p>Возврат на страницу Логин:  <%= link_to "Возврат в Логин -->", pages_login_path %> </p>
  <p>Переход на страницу Регистрации:  <%= link_to "Переход к Регистрации -->", pages_registration_path %> </p>

  <p>Переход на страницу Админа:  <%= link_to "Переход к Админу -->", pages_admin_path %> </p>


</section>
