
<section class="admin">

  <h2> Страница START - ввод стартового дерева - Ближний Круг </h2>

  <div>
    <p>@first_var: <%= @first_var.inspect %></p>
    <!--<p>@sel_names: <%= @sel_names.inspect %></p>-->
    <!--<p>@sel_names_male: <%= @sel_names_male.inspect %></p>-->
    <!--<p>@sel_names_female: <%= @sel_names_female.inspect %></p>-->
    <p>@navigation_var: <%= @navigation_var.inspect %></p>
  </div>

  <h3> Диалог ввода стартового дерева - Ближнего Круга </h3>
  <div>
    <%= form_tag do %>
        <div>
          <h4>1.Твое имя  (remote:true, , :class => "wide okField")  </h4>
          <%= label_tag 'Введи свое имя:' %>
          <div >
            <%= select_tag 'name_select', options_for_select(@sel_names, selected = @user_name),  :prompt => 'Выбери имя' %>
          </div>
        </div>
        <h4>2.Имя Отца </h4>
        <%= label_tag 'Введи имя Отца:' %>
        <div >
          <%= select_tag 'father_name_select', options_for_select(@sel_names_male, selected = @father_name),  :prompt => 'Выбери имя' %>
        </div>
        </div>
        <h4>3.Имя Матери </h4>
        <%= label_tag 'Введи имя Матери:' %>
        <div >
          <%= select_tag 'mother_name_select', options_for_select(@sel_names_female, selected = @mother_name),  :prompt => 'Выбери имя' %>
        </div>
        </div>
        <%= submit_tag 'Ввод' %>
    <% end %>
  </div>


  <p>Мое имя: @user_name: <%= @user_name.inspect %>, я - <%= @user_sex.inspect %> </p>
    <p>@user_sex: <%= @user_sex.inspect %></p>
  <!--<p>@user_sex_found: <%= @user_sex_found.inspect %></p>-->

  <p>Имя Отца: @father_name: <%= @father_name.inspect %> </p>
    <p>@father_name_correct: <%= @father_name_correct.inspect %></p>

  <p>Имя Матери: @mother_name: <%= @mother_name.inspect %></p>
    <p>@mother_name_correct: <%= @mother_name_correct.inspect %></p>



  <h4>Совпадения древа Пользователя с другими</h4>
  <div>
    <p>Найдено совпадений: @match_qty_loc: <%= @match_qty_loc.inspect %></p>
    <!--<p>Из них - подтвержденных: @approved_match_qty_loc <%= @approved_match_qty_loc.inspect %></p>-->
  </div>
  <p>Переход на страницу Просмотра и Подтверждения совпадений:  <%= link_to "Переход к Подтверждениям совпадений -->", main_match_approval_path %> </p>



  <p>Переход на Главную страницу:  <%= link_to "Переход на Главную -->", pages_main_path %> </p>

  <p>Возврат на страницу Логин:  <%= link_to "Возврат в Логин -->", pages_login_path %> </p>
  <p>Переход на страницу Регистрации:  <%= link_to "Переход к Регистрации -->", pages_registration_path %> </p>

  <p>Переход на страницу Админа:  <%= link_to "Переход к Админу -->", pages_admin_path %> </p>


</section>
