= form_for @update_feed do |f|
  - if @update_feed.errors.any?
    #error_explanation
      %h2= "#{pluralize(@update_feed.errors.count, "error")} prohibited this update_feed from being saved:"
      %ul
        - @update_feed.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :update_id
    = f.number_field :update_id
  .field
    = f.label :agent_user_id
    = f.number_field :agent_user_id
  .actions
    = f.submit 'Save'
