%p#notice= notice

%p
  %b User:
  = @update_feed.user_id
%p
  %b Update:
  = @update_feed.update_id
%p
  %b Agent user:
  = @update_feed.agent_user_id

= link_to 'Edit', edit_update_feed_path(@update_feed)
\|
= link_to 'Back', update_feeds_path
