- if current_step_errors?
  .errors= current_step_errors.message

- if current_step_errors? and current_step_errors.name == "invalid_name"
  .control
    %label
      Мужской
      = radio_button_tag "circle[#{current_step}_sex]", "male"
    %label
      Женский
      = radio_button_tag "circle[#{current_step}_sex]", "female"
