
- if !@tree_arr.blank?
  %div
    %table
      %tr
        %th user_id
        %th ID От_Профиля
        %th name_id От_Профиля
        %th ID Родства с К_Профилю
        %th ID К_Профиля
        %th name_id К_Профиля
        %th sex К_Профиля
        %th Объединено
        %th
      - @tree_arr.each do |tree|
        %tr
          %td= tree[0]
          %td= tree[1]
          %td= tree[2]
          %td= tree[3]
          %td= tree[4]
          %td= tree[5]
          %td= tree[6]
          %td= tree[7]
          %td Вызов меню Родственника: #{link_to "Relative Menu", relative_menu_path}
- else
  %h4 No Listing tree - No @tree_arr!
