%section.admin
  %h3 Страница Просмотра и подтверждения совпадений родственников в Древе Пользователя
  %p
    @session_id: #{@session_id.inspect}
  -#%p
  -#  @difference: #{@difference.inspect}
  -#%p
  -#  @c: #{@c.inspect}
  -#%p
  -#  @rez_inter: #{@rez_inter.inspect}
  -#%p
  -#  @rez_diff: #{@rez_diff.inspect}


  %div
    - if user_signed_in?
      %p
        current_user.id: #{current_user.id.inspect}
    %p
      @current_user_profile_sex: #{@current_user_profile_sex.inspect}
    %p
      @author_arr: #{@author_arr.inspect}
    %p
      @triplex_arr: #{@triplex_arr.inspect}
    %h4 Fathers
    %p
      @all_fathers_profiles: #{@all_fathers_profiles.inspect}
    %p
      @fathers_names_arr: #{@fathers_names_arr.inspect}
    %p
      @fathers_trees_arr: #{@fathers_trees_arr.inspect}
    %p
      @found_father: #{@found_father.inspect}
    -#%p
    -#  @fathers_hash: #{@fathers_hash.inspect}
    %p
      @qty_fathers_found: #{@qty_fathers_found.inspect}
    %h4 Mothers
    %p
      @all_mothers_profiles: #{@all_mothers_profiles.inspect}
    %p
      @mothers_names_arr: #{@mothers_names_arr.inspect}
    %p
      @mothers_trees_arr: #{@mothers_trees_arr.inspect}
    %p
      @found_mother: #{@found_mother.inspect}
    -#%p
    -#  @mothers_hash: #{@mothers_hash.inspect}
    %p
      @qty_mothers_found: #{@qty_mothers_found.inspect}

    %h4 Common Trees - Fathers & Mothers
    %p
      @common_trees_arr: #{@common_trees_arr.inspect}
    -#%p
    -#  @child_profile: #{@child_profile.inspect}

    %h4 Brothers
    %p
      @brothers_profiles_id_arr: #{@brothers_profiles_id_arr.inspect}
    %h4
      @msg_brother: #{@msg_brother.inspect}
    %h4 Sisters
    %p
      @sisters_profiles_id_arr: #{@sisters_profiles_id_arr.inspect}
    %h4
      @msg_sister: #{@msg_sister.inspect}
    %p
      Новых подтверждений: @new_approved_qty: #{@new_approved_qty.inspect}
    %p
      Всего подтверждено: @total_approved_qty: #{@total_approved_qty.inspect}
    %p
      Осталось неподтвержденных: @rest_to_approve: #{@rest_to_approve.inspect}
  %h4
    Возврат на Главную страницу:  #{link_to "Главная -->", main_page_path}
@ @ @ @ @ @