#header
  .container
    - if current_user
      = link_to "Мы все &mdash; родня".html_safe, "/home", id: :logo, :class => "ttip", title: "Твое дерево"
    - else
      = link_to "Мы все &mdash; родня".html_safe, "/", id: :logo

    %ul
      - if current_user
        -# = count_new_requests
        -# - if @new_requests_count.blank? || @new_requests_count == 0
        -#   %li= link_to raw("Рукопожатия <i class='fa fa-globe '></i> "), show_user_requests_path, :class => "ttip", title: "Запросы на рукопожатия (объединение родственных деревьев)"
        -# - elsif  @new_requests_count > 9
        -#   %li= link_to raw("Рукопожатия <i class='fa fa-globe '></i> <strong>(*)</strong>"), show_user_requests_path, :class => "ttip", title: "К тебе есть новые запросы на рукопожатия"
        -# - else
        -#   %li= link_to raw("Рукопожатия <i class='fa fa-globe'></i> <strong>(#{@new_requests_count})</strong>"), show_user_requests_path, :class => "ttip", title: "К тебе есть новые запросы на рукопожатия"


        - if count_new_requests > 0
          %li= link_to raw("<i class='fa fa-globe'></i> Рукопожатия <span>#{count_new_requests}</span>"), show_user_requests_path, :class => "ttip", title: "К тебе есть новые запросы на рукопожатия"
        - else
          %li= link_to raw("<i class='fa fa-globe'></i> Рукопожатия "), show_user_requests_path, :class => "ttip", title: "Запросы на рукопожатия (объединение родственных деревьев)"


        - if count_new_updates > 0
          %li= link_to raw("<i class='fa fa-bars'></i> Мои новости  <span>#{count_new_updates}</span>"), updates_feeds_path, :class => "ttip", title: "Для тебя есть новости и обновления"
        - else
          %li= link_to raw("<i class='fa fa-bars'></i> Мои новости "), updates_feeds_path, :class => "ttip", title: "Просмотр твоих новостей и обновлений"


        - if count_new_messages > 0
          -#%li= link_to raw("<i class='fa fa-envelope-o'></i> Сообщения (#{count_new_messages})"), show_all_messages_path, :class => "ttip", title: "У тебя есть новые сообщения"
          %li= link_to raw("<i class='fa fa-envelope-o'></i> Сообщения (#{count_new_messages})"), messages_path, :class => "ttip", title: "У тебя есть новые сообщения"
        - else
          -#%li= link_to raw("<i class='fa fa-envelope-o'></i> Сообщения"), show_all_messages_path, :class => "ttip", title: "У тебя есть новые сообщения"
          %li= link_to raw("<i class='fa fa-envelope-o'></i> Сообщения"), messages_path, :class => "ttip", title: "У тебя есть новые сообщения"


        -# = count_new_messages
        -# - if @new_messages_count.blank? || @new_messages_count == 0
        -#   %li= link_to raw(" Сообщения <i class='fa fa-envelope-o '></i> "), show_all_messages_path, :class => "ttip", title: "Мои сообщения"
        -# - elsif  @new_messages_count > 9
        -#   %li= link_to raw("Сообщения <i class='fa fa-envelope-o '></i> <strong>(*)</strong>"), show_all_messages_path, :class => "ttip", title: "У тебя есть новые сообщения"
        -# - else
        -#   %li= link_to raw("<i class='fa fa-envelope-o'></i> <strong>(#{@new_messages_count})</strong>"), show_all_messages_path, :class => "ttip", title: "У тебя есть новые сообщения"

        %li= link_to 'Выйти', :logout,  class: :logout
      - else
        %li= link_to 'Войти', :login,   class: :login
        %li= link_to 'Зарегистрироваться', :signup,   class: :login
