#header
  .container
    %h1
      = link_to "Мы все &mdash; родня".html_safe, "/"

    %ul
      - if current_user
        %li= link_to 'Сообщения', '#',   class: :messages
        %li= link_to 'Уведомления', '#', class: :notifications
        %li= link_to 'Мой профиль', '#', class: :profile
      - else
        %li= link_to 'Войти', :login,   class: :login
        %li= link_to 'Зарегистрироватся', :start,   class: :login
