#header
  .container
    = link_to "Мы все &mdash; родня <i class='fa fa-copyright fa-fw'></i>".html_safe, "/home", id: :logo

    %ul
      - if current_user
        - if @new_requests_count.blank? || @new_requests_count == 0
          %li= link_to raw("Рукопожатия <i class='fa fa-globe '></i> "), show_user_requests_path, :class => "ttip", title: "Запросы на рукопожатия (объединение родственных деревьев)"
        - elsif  @new_requests_count > 9
          %li= link_to raw("Рукопожатия <i class='fa fa-globe '></i> <strong>(*)</strong>"), show_user_requests_path, :class => "ttip", title: "К тебе есть новые запросы на рукопожатия"
        - else
          %li= link_to raw("Рукопожатия <i class='fa fa-globe'></i> <strong>(#{@new_requests_count})</strong>"), show_user_requests_path, :class => "ttip", title: "К тебе есть новые запросы на рукопожатия"

        -#%li= link_to raw("Рукопожатия <i class='fa fa-globe'></i>"), '#', :class => "ttip", title: "Запросы на рукопожатия (объединение родственных деревьев)"


        %li= link_to 'Мои новости (Лента)', '#', :class => "ttip", title: "Мои новости"


        -#%li= link_to raw(" <i class='fa fa-envelope-o '></i> "), '#', :class => "ttip", title: "Мои сообщения"

        - if @new_messages_count.blank? || @new_messages_count == 0
          %li= link_to raw(" Сообщения <i class='fa fa-envelope-o '></i> "), show_all_messages_path, :class => "ttip", title: "Мои сообщения"
        - elsif  @new_messages_count > 9
          %li= link_to raw("Сообщения <i class='fa fa-envelope-o '></i> <strong>(*)</strong>"), show_all_messages_path, :class => "ttip", title: "У тебя есть новые сообщения"
        - else
          %li= link_to raw("<i class='fa fa-envelope-o'></i> <strong>(#{@new_messages_count})</strong>"), show_all_messages_path, :class => "ttip", title: "У тебя есть новые сообщения"


        %li= link_to 'Выйти', :logout,  class: :logout
      - else
        %li= link_to 'Войти', :login,   class: :login
        %li= link_to 'Зарегистрироваться', :start,   class: :login
