#header
  .container
    = link_to "Мы все &mdash; родня".html_safe, "/home", id: :logo

    %ul
      - if current_user
        %li= link_to 'Уведомления', '#', class: :notifications
        %li= link_to 'Сообщения', "make_messages", class: :messages
        %li= link_to 'Выйти', :logout,  class: :logout
      - else
        %li= link_to 'Войти', :login,   class: :login
        %li= link_to 'Зарегистрироваться', :start,   class: :login
