!!!
%html
  %head
    %title Weafam _INVITATION
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    = stylesheet_link_tag "v1/application"
    = javascript_include_tag 'v1/application'
    = csrf_meta_tags
  %body
    -##overlay{style:'display:none;'}
    -#= render 'shared/ui/header'
    -#= render 'shared/ui/flash'
    %img src="~/assets/images/logo-tree.jpg", alt="Мы все &mdash; родня", style="width:680px"

    %section.admin
    %h3
      СТРАНИЦА ПРИГЛАШЕНИЯ НОВОГО ПОЛЬЗОВАТЕЛЯ  _INVITATION
    %p
      @email_name: #{@email_name.inspect}
    %h1 Добро пожаловать на www.Weallfamily.ru!
    %h1 Чувствуй себя как дома, <%= @user %>!

    %img(src="http://brainlook.org/assets/userback.jpg")
    -#alt="Brainlook" style="width:680px"/>
    = link_to image_tag( '/assets/logo_tree.png'), 'http://www.weallfamily.ru'
    -#, style="width:680px"
    %img(src="http://www.weallfamily.ru/logo_tree.png")
    %img(src="/images/logo_tree.png")
    %img(src="http://weallfamily.ru/images/logo_tree.png")
    %img(src="http://weallfamily.ru/assets/logo_tree.png")
    %img(src="http://www.weallfamily.ru/assets/logo_tree.png")
    %img(src="www.weallfamily.ru/assets/logo_tree.png")
    = image_tag("http://www.weallfamily.ru/logo_tree.png")
    = image_tag("/images/logo_tree.png")
    = image_tag("/assets/logo_tree.png")
    = image_tag("logo_tree.png")

    -#%p С чего начать?
    -#%li= link_to raw("Перейди на страницу входа - диалога"), login_path, :class => "ttip", title: "Запросы на рукопожатия (объединение родственных деревьев)"
    -#или
    -#%li= link_to raw("Посмотри ознакомительное видео или просто зайди на сайт как гость"), login_path, :class => "ttip", title: "Запросы на рукопожатия (объединение родственных деревьев)"

    -#<%= render :partial => 'email_signature' %>


    %h3
      Дорогой "имя нового ПОЛЬЗОВАТЕЛЯ" !
    %h3
      Мы направили Вам приглашение от нашего ПОЛЬЗОВАТЕЛЯ "имя старого ПОЛЬЗОВАТЕЛЯ"
    %h3
      "Приходи на сайт "имя сайта". Здесь я нашел тебя - ты найдешь меня и многих других твоих родственников
    %h3
      Пройди по этой ссылке и ты сможешь зарегистрироваться на этом сайте: "ссылка на старт. диалог"

