!!!
%html
  %head
    %title Weafam INVITATION EMAIL
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %style{:media => "screen", :type => "text/sass"}
    :css
      body { background-color:#cecece; width: 100%; }
      .main { background-color: #F5EEE8; padding: 15px 15px 15px 15px;  color: #8A8A8A; }
      .info_body
      /*{  background-color: #D0F5E0;   color: #8A677A; }*/
    -#    /*color:#000000; font-size:14px; font-family:Verdana,Helvetica,Arial; }*/
    -#      .header { background-color:#cecece; margin: 5px 15px 0 0; }
    -#
    -#    /*.notice {margin: 10px auto;  background-color: #fbb752;  border: 1px solid #cecece; }*/
    -#    h3 { color: #f00; }
    -# h2 { color: #ffc477; }



  %body
    .main
      -#{:style =>  "display: block; background-color: #4325AD; padding: 15px 15px; color: white;" }
      .site_header{:style => "background-color: #2BA7F3;  height: 4em; padding: 5px; color: white; "}
        %h1{:style => "top: .3em; left: 0; position: relative; color: #FCE3D0; margin: 5px; text-align: center;"}
          Мы все - родня
      %h2{:style => "color: #8A8A8A; text-align: center; "}
        %span{ :style => "display: block;"}
          Уважаемый(ая) #{@user_name}!
        %span{ :style => "display: block;"}
          Предлагаем вам новости вашей родни из проекта < мы все родня.рф >.

      .info_body{:style => "padding: 5px; margin: 2.9em;"}
        %h2{:style => "color: #8A8A8A; left: 15%; position: relative; "}
          Предстоящие события у ваших родственников:
          %h3{:style => "color: #678A4B; background-color: #D0F5E0; display: block; "}
            %span{ :style => "display: block; "}
              <12 ноября 2015> - <70>-й День Рождения отмечает < Дмитрий Кузнецов > - <ВСТАВИТЬ ФОТО>
            %span{ :style => "display: block; margin: 15px, 10px; padding: 10px, 10px;"}
              <2 марта 2015> - < > День Рождения отмечает < Анна Петрова > - <ВСТАВИТЬ ФОТО>

        %h2{:style => "color: #8A8A8A;  left: 15%; position: relative; "}
          Новые запросы на объединение с вашим деревом
          %h3{:style => "color: #678A4B; padding: 10px, 10px, 10px, 10px;"}
            %span{ :style => "display: block;"}
              Активные пользователи проекта ожидают вашей реакции на свой запрос:
            %span{ :style => "display: block;"}
              < Евгений Курилкина > (в его дереве <45> чел.)
            %span{ :style => "display: block;"}
              < Семен Слепаков > (в его дереве <1024> чел.)

        %h2{:style => "color: #8A8A8A;  left: 15%; position: relative; "}
          Новая информация о вашей родне:
          %h3{:style => "color: #678A4B;"}
            %span{ :style => "display: block;"}
              За прошедший период в вашем дереве появилась информация о #{@new_profiles_qty} родственниках.
            %span{ :style => "display: block;"}
              Среди них:   профили:  #{@new_profiles_three},
            %span{ :style => "display: block;"}
              first three: #{@new_profiles_three}....
            %span{ :style => "display: block;"}
              женщин -  #{@new_profiles_females}, мужчин -  #{@new_profiles_males}
            %span{ :style => "display: block;"}
              Среди них:
              - if @profiles_info_three.blank?
                %table
                  %tr
                    %td
                      %h3 нет Three Profiles...
                      %br
              - else
                -#%h1 История развития твоего дерева
                -#%br
                %table
                  %tr
                    %th ID
                    %th User
                    %th Дерево
                    %th Имя
                    %th Пол
                    %th
                  - @profiles_info_three.each do |profile_id, info_hash|
                    -#%tr{data: {common_log_id: tree_one_log.id}}
                    %tr
                      -#%td= info_hash
                      %td= info_hash[:user_id] || ""
                      %td= info_hash[:tree_id] || ""
                      %td= info_hash[:name_id] || ""
                      %td= info_hash[:sex_id] || ""
                      -#%td= one_profile_info.tree_user_name
                      -#%td= LogType.name_log_type(tree_one_log.log_type)  #
                      -#%td= one_profile_info.agent_name #
                      -#%td= one_profile_info.profile_id #
                      -#%td= one_profile_info.log_id




            %h3{:style => "color: #678A4B;"}
              %span{ :style => "display: block;"}
                < Николай > - < день рождения: #{@birthday}, город:  #{@city}, фото:  #{@photos} >
              %span{ :style => "display: block;"}
                < Галина Иванова > - < биография: #{@biography} , страна:  #{@country}, первая фамилия - #{@prev_surname} >
              %span{ :style => "display: block;"}
                < Евгений Плющев > - < день рождения: #{@birthday} , фамилия:  #{@surname} >

        %h2{:style => "color: #8A8A8A;  left: 15%; position: relative; "}
          Объединения с другими деревьями

          %h3{:style => "color: #678A4B;"}
            Произошло объединение вашего дерева с другими деревьями вашей родни

            %h3{:style => "color: #678A4B;"}
              #{@conn_date} - с деревом родственника по имени #{@conn_user_name} (#{@conn_user_city})
              #{@conn_user_avatar}

              %h3{:style => "color: #678A4B;"}
                В его дереве - информация о #{@conn_tree_profiles_qty} родственниках,
                в том числе - о #{@conn_tree_users_qty} пользователях сайта.

          %h2{:style => "color: #8A8A8A; text-align: center; "}
            Чтобы подробнее ознакомиться со всеми событиями в вашем дереве - перейдите по ссылке
            %link_to{}
            %a(href="http://haml-lang.com")

        %h2{:style => "color: #8A8A8A; text-align: center; "}
          Следите за новостями проекта Мы все родня!

        %h3{:style => "color: #678A4B; left: 5%; position: relative;"}
          Данное сообщение направлено вам от команды проекта weallfamily.ru, Санкт-Петербург.




