!!!
%html
  %head
    %title Weafam INVITATION EMAIL
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %style{:media => "screen", :type => "text/sass"}
    :css
      body {  width: 100%; }
      .main,h2,h3 {padding: 15px 15px 15px 15px; color: #4E618A; }
      /*tr, td::before { content: "o"; }*/
      /*.info_body*/
      /*{  background-color: #D0F5E0;   color: #8A8A8A; }*/

  %body
    .main
      -#.site_header{:style => "background-color: #2BA7F3;  height: 4em; padding: 5px; color: white; "}
      -#  %h1{:style => "top: .3em; left: 0; position: relative; color: #FCE3D0; margin: 5px; text-align: center;"}
      -#    Мы все - родня
      %h2{:style => " text-align: center; "}
        %span{ :style => "display: block;"}
          - if @user_sex == 1
            Уважаемый #{@user_name}!
          - else
            Уважаемая #{@user_name}!

        %br
        %span{ :style => "display: block;"}
          Предлагаем вам новости проекта «Мы все родня!».
        %span{ :style => "display: block; margin-top: 15px; "}
          Сейчас в вашем дереве содержится информация о #{@tree_profiles_qty} родственниках.
        -#%span{ :style => "display: block;"}
        -#  Среди них пользователей сайта - #{@tree_users_qty} .


      .info_body{:style => "padding: 5px; margin-top: .9em;"}
        -#%h2{:style => "color: #8A8A8A; left: 15%; position: relative; "}
          -#Напоминаем Вам о предстоящих событиях Вашей родни:
          -#%h3{:style => "color: #678A4B; background-color: #D0F5E0; display: block; "}
          -#  %span{ :style => "display: block; "}
          -#    12 ноября 1935 г. родился Дмитрий Кузнецов
          -#  %span{ :style => "display: block; margin: 15px, 10px; padding: 10px, 10px;"}
          -#    2 марта 1965 г. родилась Анна Петрова

        %h2{:style => " left: 15%; position: relative; "}
          События, которые произошли в Вашем дереве:

        - if @new_connections_exists
          %h2{:style => " left: 15%; position: relative; "}
            %span{ :style => "display: block;"}
              Произошло объединение вашего дерева с другими деревьями вашей родни. Среди них:
            - if @connect_profiles_info_complete.blank?
              %table
                %tr
                  %td
                    %h3 нет Three Profiles...
                    %br
            - else
              %table
                %tr
                  -#%th "o"
                  -#%th User
                  -#%th Дерево
                  -#%th Имя
                  -#%th Фамилия
                  -#%th Пред. фамилия
                  -#%th Город
                  -#%th Дата рождения
                  -#%th Место рождения
                  -#%th Дата смерти
                  -#%th Страна
                  -#%th Биография
                  -#%th Пол
                - @connect_profiles_info_complete.each do |profile_id, info_hash|
                  %tr{:style => " left: 25%; position: relative;  margin-left: 10px;"}
                    %td= ""
                    -#%td= info_hash[:tree_id] || ""
                    -#%td{ :style => " color: blue; background-color:#F5F164;"}= Name.find(info_hash[:name_id]).name || ""
                    -#%td{ :style => "color: red; "}= info_hash[:last_name] || ""
                    %td= ("o     " + Name.find(info_hash[:name_id]).name) || ""
                    %td= info_hash[:last_name] || ""
                    -#%td= info_hash[:prev_last_name] || ""
                    %td= info_hash[:city] || ""
                    %td= (info_hash[:birthday] + " г.р.") unless info_hash[:birthday].blank?
                    -#%td= info_hash[:birth_place] || ""
                    -#%td= info_hash[:deathdate] || ""
                    -#%td= info_hash[:country] || ""
                    -#%td= info_hash[:biography] || ""
                    -#%td= info_hash[:sex_id] || ""

            %h2{:style => " left: 15%; position: relative; margin-top: 10px;"}
              %span{ :style => "display: block;  margin-top: 10px;"}
                В его дереве - информация о #{@connect_tree_profiles_qty} родственниках,
                в том числе - о #{@connect_tree_users_qty} пользователях сайта.


        - if @new_profiles_exists
          -#%h2{:style => "color: #8A8A8A;  left: 15%; position: relative; "}
          -#  Новая информация о вашей родне:
          %h2{:style => " left: 15%; position: relative; "}
            %span{ :style => "display: block;"}
              В вашем дереве появилась новая информация о #{@new_profiles_qty} родственниках. В том числе:
            %span{ :style => "display: block;"}
              - if @new_profiles_females > 0
                женщин - #{@new_profiles_females}
              - if @new_profiles_males > 0
                мужчин - #{@new_profiles_males}
            %span{ :style => "display: block;"}
              Среди них:
              - if @profiles_info_complete.blank?
                %table
                  %tr
                    %td
                      %h3 нет Three Profiles...
                      %br
              - else
                %table
                  %tr
                    -#%th ID
                    -#%th User
                    -#%th Дерево
                    -#%th Имя
                    -#%th Фамилия
                    -#%th Пред. фамилия
                    -#%th Город
                    -#%th Дата рождения
                    -#%th Место рождения
                    -#%th Дата смерти
                    -#%th Страна
                    -#%th Биография
                    -#%th Пол
                  - @profiles_info_complete.each do |profile_id, info_hash|
                    %tr{:style => " left: 15%; position: relative; "}
                      -#%td= info_hash
                      -#%td= info_hash[:user_id] || ""
                      -#%td= info_hash[:tree_id] || ""
                      %td= ("o     " + Name.find(info_hash[:name_id]).name) || ""
                      %td= info_hash[:last_name] || ""
                      -#%td= info_hash[:prev_last_name] || ""
                      %td= info_hash[:city] || ""
                      %td= (info_hash[:birthday] + " г.р.") unless info_hash[:birthday].blank?
                      -#%td= info_hash[:birth_place] || ""
                      -#%td= info_hash[:deathdate] || ""
                      -#%td= info_hash[:country] || ""
                      -#%td= info_hash[:biography] || ""
                      -#%td= info_hash[:sex_id] || ""


        - if @new_conn_requests_exists
          -#  Новые запросы на объединение с вашим деревом
          %h2{:style => " left: 15%; position: relative; "}
            %span{ :style => "display: block;"}
              Следующий пользователь проекта ожидает Вашего подтверждения на свой запрос на объединение деревьев:
            - if @conn_req_profiles_complete.blank?
              %table
                %tr
                  %td
                    %h3 нет Three Profiles...
                    %br
            - else
              %table
                %tr
                  -#%th ID
                  -#%th User
                  -#%th Дерево
                  -#%th Имя
                  -#%th Фамилия
                  -#%th Пред. фамилия
                  -#%th Город
                  -#%th Дата рождения
                  -#%th Место рождения
                  -#%th Дата смерти
                  -#%th Страна
                  -#%th Биография
                  -#%th Пол
                - @conn_req_profiles_complete.each do |profile_id, info_hash|
                  %tr{:style => " left: 15%; position: relative; "}
                    -#%td= info_hash
                    -#%td= info_hash[:user_id] || ""
                    -#%td= info_hash[:tree_id] || ""
                    %td= ("o     " + Name.find(info_hash[:name_id]).name) || ""
                    %td= info_hash[:last_name] || ""
                    -#%td= info_hash[:prev_last_name] || ""
                    %td= info_hash[:city] || ""
                    %td= (info_hash[:birthday] + " г.р.") unless info_hash[:birthday].blank?
                    -#%td= info_hash[:birth_place] || ""
                    -#%td= info_hash[:deathdate] || ""
                    -#%td= info_hash[:country] || ""
                    -#%td= info_hash[:biography] || ""
                    -#%td= info_hash[:sex_id] || ""

            %h2{:style => " left: 15%; position: relative; "}
              %span{ :style => "display: block; margin-top: 15px; "}
                Его дерево состоит из #{@conn_req_tree_profiles_qty} родственников.
                -#в том числе - о #{@conn_req_tree_users_qty} пользователях сайта.
                -#%span{ :style => "display: block; margin-top: 5px; "}


        %h2{:style => " left: 15%; position: relative; "}
          -#Чтобы подробнее ознакомиться с событиями в вашем дереве
          -#-#= link_to image_tag( 'http://www.weallfamily.ru/assets/logo-tree.png', {:width => "45", :height =>"45"}), 'http://www.weallfamily.ru'
          -#%span{ :style => "display: block; margin-top: 5px; "}
          -#  = link_to 'пройдите по этой ссылке ', 'http://www.weallfamily.ru'
          %span{ :style => "display: block; "}
            Для входа на сайт www.weallfamily.com воспользуйтесь своим логином #{@email_name}.
          %span{ :style => "display: block; margin-top: 15px; "}
            О том, как пользоваться сайтом, Вы можете ознакомиться с помощью короткого видеоролика.
          %span{ :style => "display: block; margin-top: 15px; "}
            Напоминаем, что проект «Мы все - родня!» призван объединить людей всего мира.
            С его помощью у Вас есть возможность собрать всю Вашу родню в одно большое дерево,
            делиться воспоминаниями и узнать много нового.
          %span{ :style => "display: block; margin-top: 15px; "}
            Продолжайте собирать и исследовать информацию о Вашей общей ближней и дальней родне.

        %h2{:style => " left: 15%; position: relative;"}
          С уважением,

        %h2{:style => " left: 15%; position: relative;"}
          Команда проекта 'Мы все - родня!'




