!!!
%html
  %head
    %title Weafam INVITATION EMAIL
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/



  %body
    .main
      %h1
        Уважаем < ый > , #{@user_name}!
        Автоматические новости вашей родни от проекта < мывсеродня.рф. >

      %h2
        Предстоящие события:
        %h3
          <12 ноября 2015> - <70>-й День Рождения отмечает < Дмитрий Кузнецов > - <ВСТАВИТЬ ФОТО>

      %h2
        Ожидающие вашей реакции запросы на объединение деревьев от других пользователей проекта:
        %h3
          От < Евгения Курилкина > (в его дереве <45> чел.)
          От < Сергея Кургиняна > (в его дереве <1024> чел.)

      %h2
        За прошедший период добавилась информация о #{@new_profiles_qty} чел., из них 2 пользователей.
        Среди них: профили:  #{@new_profiles},
        first three: #{@new_profiles_three}....
        женщин -  #{@new_profiles_females}
        мужчин -  #{@new_profiles_males}

        Новые активные участники:
        %h3
          < ВСТАВИТЬ ФОТО > Сергей Митин (Минск)
          < ВСТАВИТЬ ФОТО > Людмила (Минск)

