<h2> Метод enter_father, Страница START - ввод стартового дерева - Ближний Круг </h2>

<div>
  <!--<p>@sel_names: <%= @sel_names.inspect %></p>-->
  <!--<p>@sel_names_male: <%= @sel_names_male.inspect %></p>-->
  <!--<p>@sel_names_female: <%= @sel_names_female.inspect %></p>-->
  <p>@navigation_var: <%= @navigation_var.inspect %></p>
  <p>@tree_array: <%= @tree_array.inspect %></p>
</div>

<%= form_tag({ :controller => "start", :action => "father_store"}) do %>
    <div>
      <h4>Есть ли Братья? </h4>
      <%= check_box_tag 'brothers_exist?', options_for_select(@check_yea_nau, selected = @checked_brother) -%>



      <!--<%= label_tag 'Введи имя Отца:' %>-->
      <div >
        <!--<%= select_tag 'father_name_select', options_for_select(@sel_names_male, selected = @father_name),  :prompt => 'Выбери имя' %>-->
      </div>
    </div>
    <%= submit_tag 'Ввод' %>
<% end %>



