.page-header
  %h2
    Статистика сайта
    %small= User.count
  %h4
    Скачать файл статистики 'we_all_family_stats.xls':
    = link_to "Upload To Excel", we_all_family_stats_admin_weafam_stats_path(format: "xls")

= paginate @weafam_stats, :theme => 'admin'
= render 'table'
= paginate @weafam_stats, :theme => 'admin'


