<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String"># ID</Data></Cell>
        <Cell><Data ss:Type="String">Дата</Data></Cell>
        <Cell><Data ss:Type="String">Юзеры</Data></Cell>
        <Cell><Data ss:Type="String">Юзеры М</Data></Cell>
        <Cell><Data ss:Type="String">Юзеры Ж</Data></Cell>
        <Cell><Data ss:Type="String">Профили</Data></Cell>
        <Cell><Data ss:Type="String">Профили М</Data></Cell>
        <Cell><Data ss:Type="String">Профили Ж</Data></Cell>
        <Cell><Data ss:Type="String">Деревья</Data></Cell>
        <Cell><Data ss:Type="String">Пригл-я</Data></Cell>
        <Cell><Data ss:Type="String">Запросы</Data></Cell>
        <Cell><Data ss:Type="String">Объед-я</Data></Cell>
        <Cell><Data ss:Type="String">Отказы</Data></Cell>
        <Cell><Data ss:Type="String">Разъед-я</Data></Cell>
        <Cell><Data ss:Type="String">Похожие</Data></Cell>
      </Row>
      <% @weafam_stats.each do |stat| %>
          <Row>
            <Cell><Data ss:Type="Number"><%= stat.id %></Data></Cell>
            <Cell><Data ss:Type="Data">  <%= stat.created_at.strftime("%d-%b-%Y %H:%M") %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= stat.users %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= stat.users_male %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= stat.users_female %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= stat.profiles %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= stat.profiles_male %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= stat.profiles_female %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= stat.trees %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= stat.invitations %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= stat.requests %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= stat.connections %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= stat.refuse_requests %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= stat.disconnections %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= stat.similars_found %></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
