%table.table.table-striped
  %thead
    %tr
      %th #
      %th Имя
      %th Email
      %th Создан
      %th
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td= user.name
        %td= user.email
        %td= user.created_at
        %td
          = link_to "Войти как #{user.email.split('@').first}@...", admin_user_login_as_user_path(user.id), data: {confirm: "Войти как #{user.name}?"}, method: :post
        %td
          = link_to "Удалить дерево", admin_user_path(user), data: {confirm: "Будут удалены все связанные данные, вы уверены?"}, method: :delete
