%nav.navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{:type=> 'button', :'data-toggle'=>"collapse", :'data-target'=>"#navbar", :'aria-expanded'=>"false", :'aria-controls'=>"navbar"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Admin.Weallfamily', admin_root_path, class: 'navbar-brand'
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to "Имена", admin_names_path, class: 'active'
        %li= link_to "Пользователи", admin_users_path
        %li= link_to "Модерация пользователей", admin_pending_users_path
        %li= link_to "Статистика", admin_weafam_stats_path
        %li= link_to "Поиск", admin_search_service_logs_path
        %li= link_to "Настройки", admin_admins_path

      %ul.nav.navbar-nav.pull-right
        %li= link_to "Выйти", admin_logout_path
