.container#search_similars
  %h1 Тест на "Похожие" (SearchSimilars#index)
  %br


  %h1 Данные о текущем дереве
  - if @tree_info.empty?
    %table
      %tr
        %td.left.grey.italic
          Данныx о текущем дереве - нет
  - else
    %h2 Пользователи - авторы дерева: #{@tree_info[:connected_users]}
    %h2 ID Профилей Пользователей - авторов дерева: #{@tree_info[:users_profiles_ids]}
    %h2 Массив профилей в дереве:     #{@tree_info[:tree_is_profiles]}
    %h2 Количество профилей в дереве: #{@tree_info[:tree_profiles_amount]}
    %h2 Полный массив профилей в дереве (с авторами):  #{@tree_info[:all_tree_profiles]}
    %h2 Полное количество профилей в дереве (с авторами): #{@tree_info[:all_tree_profiles_amount]}
    -#%h2 Массив пар НЕПОХОЖИХ профилей в дереве:     #{@unsimilars}
    -#%h2 Количество НЕПОХОЖИХ пар профилей в дереве: #{@unsimilars_qty}
  %br
  %br
  %br


  %h1 Найденные пары "Похожих"
  - if @paged_similars_data.blank?
    %table
      %tr
        %td.left.grey.italic
          "Похожих" - нет! И это - неплохо.. (@paged_similars_data = empty)
  - else
    %table
      %tr
        %th Первый профиль
        %th Первое имя
        -#%th Пол первого
        %th Родство первого
        %th С кем родство первого

        %th Второй профиль
        %th Второе имя
        -#%th Пол второго
        %th Родство второго
        %th С кем родство второго

        %th Общие отношения
        %th Мощность общности
        %th Общие из необщих
        %th Объединить? (Ваше решение)

      - @paged_similars_data.each do |similars_data|
        %tr
          %td= similars_data[:first_profile_id]
          %td= similars_data[:first_name_id]
          -#%td= similars_data[:first_sex_id]#.inspect
          %td= similars_data[:first_relation_id]  #
          %td= similars_data[:name_first_relation_id] #

          %td= similars_data[:second_profile_id]
          %td= similars_data[:second_name_id]#
          -#%td= similars_data[:second_sex_id]
          %td= similars_data[:second_relation_id] #
          %td= similars_data[:name_second_relation_id]

          %td= similars_data[:common_relations]
          %td= similars_data[:common_power]
          %td= similars_data[:inter_relations]
          %td
            = link_to 'Да', connect_similars_path( first_profile_id: similars_data[:first_profile_id], second_profile_id: similars_data[:second_profile_id]), method: :post, remote: true, class: [:bttn, :green]
            -#%br
            = link_to 'Нет', keep_disconnected_similars_path( first_profile_id: similars_data[:first_profile_id], second_profile_id: similars_data[:second_profile_id]), method: :post, remote: true, class: [:bttn, :red]


    = paginate @paged_similars_data

  %h2 Пользователи - авторы дерева: #{@tree_info[:connected_users]}


  %br
  = link_to 'К просмотру твоего дерева', home_path








