.container#search_similars
  %h1 Тест на "Похожие" (SearchSimilars#index)
  %br


  %h1 Данные о текущем дереве
  - if @tree_info.empty?
    %table
      %tr
        %td.left.grey.italic
          Данныx о текущем дереве - нет
  - else
    %h2 Пользователи - авторы дерева: #{@tree_info[:connected_users]}
    %h2 Массив профилей в дереве:     #{@tree_info[:tree_is_profiles]}
    %h2 Количество профилей в дереве: #{@tree_info[:tree_profiles_amount]}
  %br
  %br
  %br


  %h1 Найденные пары "Похожих"
  - if @paged_similars_data.blank?
    %table
      %tr
        %td.left.grey.italic
          "Похожих" - нет! И это - неплохо.. (@paged_similars_data = empty)
  - else
    %table
      %tr
        %th Первый профиль
        %th Первое имя
        %th Первый пол
        %th Второй профиль
        %th Второе имя
        %th Второй пол
        %th Общие отношения
        %th Мощность общности

      - @paged_similars_data.each do |similars_data|
        %tr
          %td= similars_data[:first_profile_id]
          %td= similars_data[:first_name_id]
          %td= similars_data[:first_sex_id]#.inspect
          %td= similars_data[:second_profile_id]
          %td= similars_data[:second_name_id].inspect
          %td= similars_data[:second_sex_id]
          %td= similars_data[:common_relations]
          %td= similars_data[:common_power]


    = paginate @paged_similars_data


  %br
  = link_to 'К просмотру твоего дерева', home_path








