!!!
%html
  %head
    %title Weafam
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    = stylesheet_link_tag "v1/application"
    = javascript_include_tag 'v1/application'
    = csrf_meta_tags
  %body
    #overlay{style:'display:none;'}
    = render 'shared/ui/header'
    = render 'shared/ui/flash'
    .container
      = yield
    = yield :debugger
