<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag 'application' %>
  <title>Weafam</title>
</head>
<body>

<%= render 'shared/parts/header' %>


<%= yield %>

</body>
</html>
